<template>
    <v-data-table :headers="headers" :items="schedules" :hide-default-footer="true" :loading="loading">
        <template v-slot:item.datetime="{item}">
            <div><span>{{ item.time }}</span></div>
        </template>

        <template v-slot:item.action="{item}">
            <div>
                <v-chip label outlined color="green" v-if="item.isRunning">Running</v-chip>
                <v-chip label outlined v-if="!item.isRunning">Not Running</v-chip>
            </div>
        </template>
    </v-data-table>
</template>

<script>
import { scheduleService } from "../../_services";
import { settings } from '../../config';

export default {
    name: 'schedules-data-table',
    props: {
        value: {
            type: Array,
            require: true
        },
        loading: {
            type: Boolean
        }
    },
    data: () => ({
        schedules: [],
        headers: [
            {text: 'ID', value: 'id', sortable: true},
            {text: 'Giờ', value: 'datetime', sortable: true},
            {text: '', value: 'action', sortable: false, align: 'end'}
        ]
    }),
    methods: {
        getScheduleById(id) {
            scheduleService.getScheduleById(id).then(success => {
                let data = success.body;
                
                if (data.status === settings.SUCCESS) {
                    let schedule = data.data;
                    let index = this.schedules.findIndex(x => x.id === schedule.id);
                    this.schedules[index] = schedule;
                } else {
                    console.error(data.message);
                }
                
            }).catch(error => {
                console.error(error);
            });
        }
    },
    mounted() {
        if (this.value != undefined) {
            this.schedules = this.value;
        }
    }
}
</script>