<template>
    <v-card :elevation="purchase? 1 : 12">
        <v-card-title v-if="!purchase">
            <h2 class="display-1 flex-fill">Hợp đồng</h2>
            <v-btn text fab small @click="closeDialog">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <div v-if="contract.state.success === true && contract.data !== null">
            <div :class="`mx-4 ${purchase? 'pt-4' : ''}`">
                <h4>Thông tin khách hàng</h4>
                <v-card elevation="0" color="green lighten-5">
                    <v-card-text>
                        <div>Tên: <strong>{{ contract.data.user.name || 'N/A' }}</strong></div>
                        <div>Email: <strong>{{ contract.data.user.email || 'N/A' }}</strong></div>
                        <div>Địa chỉ: <strong>{{ contract.data.user.address || 'N/A' }}</strong></div>
                        <div>Số điện thoại: <strong>{{ contract.data.user.phone || 'N/A' }}</strong></div>
                    </v-card-text>
                </v-card>
            </div>
            
            <v-list>
                <h4 class="mx-4">Chi tiết</h4>
                
                <div class="d-md-flex flex-row">
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon>receipt</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title v-text="contract.data.id"/>
                            <v-list-item-subtitle>Mã hợp đồng</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>
                                <v-chip :color="contractColor(contract.data.status)">
                                    <span>{{ contractTitle(contract.data.status) }}</span>
                                </v-chip>
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </div>

                <v-list-item v-if="!purchase">
                    <v-list-item-icon>
                        <v-icon>today</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title  v-text="convertDateTime(contract.data.dateCreate)"/>
                        <v-list-item-subtitle>Ngày tạo hợp đồng</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                
                <div class="d-md-flex flex-row">
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon>date_range</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title  v-text="convertDateTime(contract.data.dateStart)"/>
                            <v-list-item-subtitle>Ngày bắt đầu hiệu lực</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon>event</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title  v-text="convertDateTime(contract.data.duration)"/>
                            <v-list-item-subtitle>Ngày hết hiệu lực</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </div>

                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>monetization_on</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ currencyFormater(contract.data.fee) }}
                        </v-list-item-title>
                        <v-list-item-subtitle>Chi phí</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <div outlined class="d-none flex-row mx-3 my-3 py-3 align-center border rounded-lg">
                <v-img src="@/assets/pdf_icon.svg" max-width="64" />
                <div class="flex-fill">
                    <h5>Biên bản hợp đồng</h5>
                    <div class="caption">sonph_contract_5.pdf</div>
                </div>
                <div class="px-3">
                    <v-btn depressed>
                        <v-icon>save_alt</v-icon>
                    </v-btn>
                </div>
            </div>
        </div>
        <v-card-text v-if="contract.state.loading">
            <v-skeleton-loader
                width="100%"
                type="card"
            ></v-skeleton-loader>
        </v-card-text>
        <v-alert v-if="contract.state.success === false" type="error" text class="mb-0">
            Không tìm thấy hợp đồng.
        </v-alert>
        <v-divider/>
        <v-card-actions v-if="!purchase && contract.data !== null">
            <v-btn 
                class="flex-fill" color="primary" 
                :disabled="contract.data.status !== 2 || contract.state.loading"
                @click="openEditDialog"
            >
                Gia hạn hợp đồng
            </v-btn>
            <v-btn
            outlined
                class="flex-fill"
                :disabled="contract.data.status !== 2"
            >
                Dừng hợp đồng
            </v-btn>
        </v-card-actions>
        <div v-if="purchase && contract.data !== null">
            <div v-if="contract.data.status === 2" class="mx-4 py-4">
                <v-text-field solo label="Nhập mã thẻ" v-model.number="CardNumber" hide-details="auto"/>
                <div class="d-flex mt-3">
                    <v-spacer/>
                    <v-btn color="success" @click="sendPurchase">Thanh Toán</v-btn>
                </div>
            </div>
        </div>
    </v-card>
</template>

<style>
    .border {
        border: 1px solid #cccccc !important;
    }

</style>

<script>
import { ContractMixin } from '../../mixins'
import { requestService } from '../../_services';
import { settings } from '../../config';

export default {
    name: 'contract-detail',
    props: {
        id: {
            require: true
        },
        purchase: {
            type: Boolean
        }
    },
    mixins: [ ContractMixin ],
    data: () => ({
        CardNumber: 0
    }),
    methods: {
        closeDialog() {
            this.$emit('close:dialog', true);
        },
        openEditDialog() {
            this.$emit('open:editDialog', {data: this.contract.data, show: true})
        },
        getContractByID() {
            this.$store.dispatch('contractModule/getContractId', this.id);
        },
        sendPurchase() {
            let { username, subscriptionId } = this.contract.data;
            let { name, email, address, phone } = this.contract.data.user;
            let { CardNumber } = this;
            let Type = settings.REQUESTS_TYPE.PURCHASE;
            let Status = settings.REQUESTS_STATUS_NUM.PAID_AND_PENDING;

            requestService.create({
                Name: name, Email: email, Address: address, Phone: phone, CardNumber, Type, Status,
                SubscriptionId: subscriptionId, Username: username
            }).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.$snotify.success("Gửi yêu cầu thành công.");
                    let id = data.data.id;
                    this.$router.push(`/request-page?id=${id}`);
                } else {
                    console.error(data.message);
                    this.$snotify.error("Không thể gửi yêu cầu");
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error("Không thể gửi yêu cầu");
            });
        }
    },
    computed: {
        contract() {
            return this.$store.state.contractModule.contract;
        },
        isComingSoon() {
            let now = Date.parse(this.convertDateTime(new Date())).toString();
            let start = Date.parse(this.convertDateTime(this.contract.data.dateStart)).toString();
            console.log();
            return start - now > 0;
        }
    },
    mounted() {
        this.getContractByID();
    }
}
</script>