<template>
    <v-card>
        <v-card-title>
            Tạo mới hợp đồng
            <v-spacer/>
            <v-btn fab depressed small @click="close">
                <v-icon>close</v-icon>
            </v-btn>
        </v-card-title>
        <v-form ref="contractForm" v-model="valid" @submit.prevent="created" :disabled="!isReady">
            <div class="mx-4 my-3">
                <v-autocomplete
                    v-model="contract.Username"
                    v-if="!hasUser"
                    :items="listUsername"
                    dense
                    label="Người dùng"
                    outlined
                    :loading="userLoad"
                    :disabled="userLoad"
                ></v-autocomplete>
                <v-text-field v-else label="Người dùng" :value="username" outlined dense disabled/>

                

                <v-text-field 
                    v-model="contract.DateStart" 
                    label="Ngày hiệu lực hợp đồng" 
                    outlined dense 
                    @click="showDateStartPicker"
                />
                <!-- <v-text-field 
                    v-model="contract.Duration" 
                    label="Ngày hết hiệu lực hợp đồng" 
                    outlined dense  
                    @click="dialog.duration = true"
                /> -->

                <div>
                    Chọn gói:
                    <v-radio-group v-model="subscriptionId">
                        <v-radio 
                            v-for="sub in subscriptions" 
                            :value="sub.id"
                            :key="sub.id"
                            :label="`${sub.plan} tháng sử dụng - ${currencyFormater(sub.price)}.`"
                        />
                    </v-radio-group>
                </div>

                <div>
                    Ngày hết hiệu lực hợp đồng: <strong>{{ minDurationDate }}</strong>
                </div>
                <div class="mt-5 d-none">
                    <v-file-input label="Bản hợp đồng" outlined dense v-model="file" ></v-file-input>
                    <div class="d-flex">
                        <v-spacer/>
                        <v-btn>Tải file lên</v-btn>
                    </div>
                </div>
            </div>
            <v-divider/>
            <v-card-actions>
                <v-spacer/>
                <v-btn depressed color="primary" type="submit" :disabled="!isReady">
                    Tạo mới
                </v-btn>
            </v-card-actions>
        </v-form>

        <DatePicker
            :model="dialog.start" 
            :date="convertDateTime(contract.DateStart, 'YYYY-MM-DD')"
            :min="convertDateTime(new Date(), 'YYYY-MM-DD')"
            @close:dialog="contract.DateStart = $event.date; dialog.start = $event.show;contract.Duration = minDurationDate"
        />
        <!-- <DatePicker 
            :model="dialog.duration" 
            :date="contract.Duration"
            :min="minDurationDate"
            @close:dialog="contract.Duration = $event.date; dialog.duration = $event.show"
        /> -->
    </v-card>
</template>

<script>
import { userService, contractService, subscriptionService } from '../../_services'
import { settings } from '../../config';
import moment from 'moment';

import DatePicker from "../DatePicker";

export default {
    name: 'contract-create-new',
    components: { DatePicker },
    props: {
        username: {
            type: String
        }
    },
    data: () => ({
        valid: true,
        users: [],
        subscriptions: [],
        userLoad: false,
        contract: {
            Username: "",
            DateStart: "",
            Duration:  "",
            Fee: 0,
            IsDelete: false
        },
        dialog: {
            start: false,
            duration: false,
        },
        subscriptionId: 1,
        file: null
    }),
    methods: {
        close() {
            this.$emit('close:dialog', true);
        },
        async validateForm() {
            return await this.$refs.contractForm.validate();
        },
        showDateStartPicker() {
            this.dialog.start = true;
        },
        created() {
            //
            this.contract.Fee = this.subscriptions.find(e => e.id === this.subscriptionId).price;

            // create
            if (!this.isValidDuration()) {
                console.error("Invalid start and end date: 10 days");
                this.$snotify.error('Ngày hết hiệu lực phải sau ngày bắt đầu khoảng 10 ngày.');
            } else if(this.contract.Username === "") {
                console.error("Choose user!");
                this.$snotify.error('Vui lòng chon user');
            } else {
                this.validateForm().then(() => {
                    if (this.valid === true) {
                        //
                        contractService.createNewContract(this.contract).then(success => {
                            let data = success.body;
                            if (data.status === settings.SUCCESS) {
                                this.$snotify.success('Tạo thành công.');
                                this.$emit('create:success', data.data);
                            } else {
                                this.$snotify.error('Không thể tạo mới hợp đồng.');
                            }
                        }).catch(error => {
                            console.error(`${error.status}_${error.statusText}`);
                            this.$snotify.error('Không thể tạo mới hợp đồng. ' + error.status);
                        });
                    }
                });
            }
        },
        getAllUsers() {
            this.userLoad = true;
            userService.getAllUsers().then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.users = data.data
                } else {
                    console.error("Error, cannot get user list");
                }

                this.userLoad = false;
            }).catch(error => {
                console.error(`${error.status}_${error.statusText}`);
                this.userLoad = false;
            });
        },
        getAllSubscription() {
            subscriptionService.getAll().then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.subscriptions = data.data;
                    this.SubscriptionId = 1;
                } else {
                    console.error(data.message);
                    this.$snotify.error('Không thể lấy danh sách subscription');
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error('Không thể lấy danh sách subscription');
            });
        },
        isValidDuration() {
            let start = Date.parse(this.contract.DateStart).toString();
            let end = Date.parse(this.contract.Duration).toString();
            
            return end - start >= 864000000;
        }
    },
    mounted() {
        this.contract.DateStart = this.convertDateTime(new Date(), "YYYY-MM-DD");
        this.contract.Duration = this.minDurationDate;
        this.contract.SubscriptionId = this.subscriptionId;
        this.getAllSubscription();
        if (!this.hasUser)
            this.getAllUsers();
        else {
            this.contract.Username = this.username;
        }
            
    },
    watch: {
        subscriptionId: {
            immediate: true,
            handler() {
                this.contract.Duration = this.minDurationDate;
                if (this.subscriptions != null && this.subscriptions.length > 0) {
                    this.contract.SubscriptionId = this.subscriptionId;
                    this.contract.Fee = this.subscriptions.find(e => e.id === this.subscriptionId).price;
                }
            }
        }
    },
    computed: {
        listUsername() {
            return this.users.map(item => item.username);
        },
        hasUser() {
            return this.username != undefined && this.username != null;
        },
        minDurationDate() {
            let date = moment(this.contract.DateStart);
            let month = 1;

            if (this.subscriptions !== null && this.subscriptions !== undefined) {
                var sub = this.subscriptions.find(e => e.id === this.subscriptionId);
                if (sub !== null && sub !== undefined) {
                    month = Number(sub.plan);
                }
            }
            
            date = date.set('month', (date.get('month') + month))._d;
            let result = moment(Date.parse(date)).format("YYYY-MM-DD");
            
            return result;
        },
        isReady() {
            if (this.hasUser && this.subscriptions !== null && this.subscriptions.length > 0) {
                return true
            } else {
                return this.listUsername.length > 0 && this.subscriptions !== null && this.subscriptions.length > 0
            }
        }
    }
}
</script>