<template>
    <div>
        <v-data-table 
            :headers="headers" 
            :items="data"
            :hide-default-footer="true">

            <template v-slot:item.dateStart="{ item }">
                <span>{{ convertDateTime(item.dateStart) }}</span>
            </template>
            <template v-slot:item.duration="{ item }">
                <span>{{ convertDateTime(item.duration) }}</span>
            </template>

            <template v-slot:item.status="{ item }">
                <v-chip :color="contractColor(item.status)">
                    <span>{{ contractTitle(item.status) }}</span>
                </v-chip>
            </template>

            <template v-slot:item.action="{ item }">
                <div class="d-flex flex-column my-2 align-center justify-end">
                    <div class="mr-3 d-none">
                        <v-progress-circular color="light-green" :value="calcProgress(item.dateStart, item.duration)" />
                    </div>
                    <v-btn outlined small color="primary" @click="showDetail(item.id)">
                        Xem chi tiết
                    </v-btn>
                </div>
            </template>
        </v-data-table>

    </div>
</template>
<script>
import { ContractMixin, PageMixin } from '../../mixins'
import { contractService } from '../../_services';
import { settings } from '../../config';

export default {
    name: 'contracts',
    props: {
        data: {
            type: Array,
            required: true
        }
    },
    mixins: [ ContractMixin, PageMixin ],
    data: () => ({
        headers: [
            {text: 'Khách hàng', align: 'start', value: 'username', sortable: true},
            {text: 'Ngày bắt đầu hiệu lực', align: 'start', value: 'dateStart', sortable: true},
            {text: 'Ngày hết hiệu lực', align: 'start', value: 'duration', sortable: true},
            {text: 'Trạng thái', align: 'start', value: 'status', sortable: true},
            {text: '', value: 'action', align: 'end', sortable: false}
        ]
    }),
    methods: {
        showDetail(id) {
            this.$emit('dialog', {id: id, show: true});
        },
        isComingSoon(dateStart) {
            let now = Date.parse(this.convertDateTime(new Date())).toString();
            let start = Date.parse(this.convertDateTime(dateStart)).toString();
            console.log();
            return start - now > 0;
        },
        pause(id) {
            contractService.pause(id).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.$emit('paused');
                    this.$snotify.success('Cập nhập thành công');
                } else {
                    this.$snotify.error('Không thể cập nhập');
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error('Không thể cập nhập');
            });
        }
    },
    computed: {
        //
    },
    mounted() {
        //
    }
}
</script>