<template>
    <v-card elevation="12">
        <v-card-title>
            <h2 class="display-1 flex-fill">Gia hạn hợp đồng</h2>
            <v-btn text rounded small @click="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-divider/>
        <v-card-text class="mt-3" v-if="isReady">
            <div class="my-2">
                Gói hiện tại là: <strong>{{ `${sub.plan} tháng sử dụng - ${currencyFormater(sub.price)}` }}</strong>
            </div>
            <div class="my-2">
                Chọn gói mới:
                <v-radio-group v-model="subscriptionId">
                    <v-radio 
                        v-for="sub in subscriptions" 
                        :value="sub.id"
                        :key="sub.id"
                        :label="`${sub.plan} tháng sử dụng - ${currencyFormater(sub.price)}.`"
                    />
                </v-radio-group>
            </div>
            <div class="mb-2">
                <div class="caption text-center">
                    Ngày bắt đầu hiệu lực
                </div>
                <div class="font-weight-bold d-flex justify-center">
                    <span>{{ convertDateTime(data.dateStart) }}</span>
                    <v-icon>arrow_right_alt</v-icon>
                    <span>{{ convertDateTime(new Date()) }}</span>
                </div>
            </div>
            <v-divider/>
            <div class="mt-2">
                <div class="caption text-center">
                    Ngày hết hiệu lực
                </div>
                <div class="font-weight-bold  d-flex justify-center">
                    <span>{{ convertDateTime(data.duration) }}</span>
                    <v-icon>arrow_right_alt</v-icon>
                    <span>{{ newDuration }}</span>
                </div>
            </div>
        </v-card-text>
        <v-alert text type="info">
            Ngày bắt đầu hiệu lực là ngày được tính từ ngày xác nhận gia hạn hợp đồng.
        </v-alert>
        <v-divider/>
        <v-card-actions>
            <v-spacer/>
            <v-btn 
                color="primary" depressed 
                :loading="state.loading"
                :disabled="state.loading || !isReady"
                @click="saved"
            >
                Gia hạn
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import moment from 'moment';
import { settings } from '../../config';
import { subscriptionService, contractService } from '../../_services';

export default {
    name: 'contract-update-form',
    props: {
        data: {
            type: Object,
            require: true
        }
    },
    components: {
        
    },
    data: () => ({
        state: { loading: false },
        subscriptions: null,
        subscriptionId: 1
    }),
    methods: {
        close() {
            this.$emit('close:dialog', true);
        },
        saved() {
            let { id } = this.data;
            let { subscriptionId } = this;
            let dateStart = this.convertDateTime(new Date(), 'YYYY-MM-DD');
            let duration = this.newDuration;
            let fee = this.subscriptions.find(e => e.id === subscriptionId).price;
            let type = settings.REQUESTS_TYPE.PURCHASE;

            let body = {
                DateStart: dateStart,
                Duration: duration,
                Fee: fee,
                SubscriptionId: subscriptionId,
                Type: type
            };

            // send request
            this.state = { loading: true };
            contractService.updateContract(id, body).then((success) => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.$emit('update:success');
                    this.$snotify.success("Gia hạn thành công.");
                    this.state = { success: true };
                } else {
                    console.error(data.message);
                    this.$snotify.error("Không thể gia hạn hợp đồng.");
                    this.state = { success: false };
                }
            }).catch((err) => {
                console.error(err);
                this.$snotify.error("Không thể gia hạn hợp đồng.");
                this.state = { success: false };
            });

        },
        getAllSubscription() {
            subscriptionService.getAll().then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.subscriptions = data.data;
                    this.SubscriptionId = 1;
                } else {
                    console.error(data.message);
                    this.$snotify.error('Không thể lấy danh sách subscription');
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error('Không thể lấy danh sách subscription');
            });
        },
    },
    mounted() {
        this.getAllSubscription();
        this.subscriptionId = this.data.subscriptionId;
    },
    computed: {
        newDuration() {
            let date = moment();
            let month = 1;

            if (this.subscriptions !== null && this.subscriptions !== undefined) {
                var sub = this.subscriptions.find(e => e.id === this.subscriptionId);
                if (sub !== null && sub !== undefined) {
                    month = Number(sub.plan);
                }
            }
            
            date = date.set('month', (date.get('month') + month))._d;
            let result = moment(Date.parse(date)).format("YYYY-MM-DD");
            
            return result;
        },
        isReady() {
            return this.subscriptions !== null && this.subscriptions.length > 0
        },
        sub() {
            return this.subscriptions.find(e => e.id === this.data.subscriptionId)
        }
    }
}
</script>