<template>
    <v-dialog v-model="show" persistent :max-width="settings.DIALOG_MAX_WIDTH">
        <v-card>
            <v-card-title>
                Thêm rau
                <v-spacer/>
                <v-btn fab small depressed @click="closeDialog">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-card-title>
            <v-form ref="vegetableCreate" v-model="valid" lazy-validation @submit.prevent="create">
                <div class="mx-4">
                    <v-text-field 
                        label="Label ID" outlined
                        v-model="vegetable.LabelId"
                        type="number"
                    ></v-text-field>
                    
                    <v-text-field 
                        label="Tên" outlined 
                        v-model="vegetable.Name"
                        :rules="rules.name"
                    ></v-text-field>
                    
                    <div class="d-flex">
                        <v-text-field 
                            outlined
                            class="mr-1" label="Ngày bắt đầu thu hoạch" type="number" 
                            v-model="vegetable.HarvestFrom"
                            :rules="rules.from"
                        ></v-text-field>
                        <v-text-field
                            outlined
                            class="ml-1" label="Ngày kết thúc thu hoạch" type="number"
                            v-model="vegetable.HarvestTo"
                            :rules="rules.to"
                        ></v-text-field>
                    </div>

                    <v-textarea label="Mô tả" outlined v-model="vegetable.Description" auto-grow></v-textarea>
                </div>
                <v-alert type="info" text>
                    <strong>Ngày bắt đầu thu hoạch</strong> và <strong>ngày kết thúc thu hoạch</strong> là khoảng thời gian rau có thể thu hoạch tốt nhất.
                </v-alert>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn
                        type="submit" color="primary"
                        :loading="state.loading"
                        :disabled="state.loading"
                    >Thêm mới</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
import { vegetableService } from '../../_services';
import { settings } from '../../config';

export default {
    name: 'vegetable-create',
    props: {
        show: {
            type: Boolean,
            require: true
        }
    },
    data: () => ({
        valid: false,
        vegetable: {
            "Name": "",
            "LabelId": 0,
            "HarvestFrom": 0,
            "HarvestTo": 0,
            "Description": "",
            "Thumbnail": ""
        },
        state: { loading: false },
        rules: {
            name: [
                v => !!v || 'Vui lòng nhập tên rau vào.',
                v => (v && v.length >= 3) || 'Độ dài của tên rau phải lớn hơn hoặc bằng 3 ký tự.',
            ],
            from: [
                v => (v && v > 0) || "Ngày bắt đầu thu hoạch phải lớn hơn 0.",
            ],
            to: [
                v => (v && v > 0) || "Ngày kết thúc thu hoạch phải lớn hơn 0.",
                
            ]
        }
    }),
    methods: {
        closeDialog() {
            this.$emit('close:dialog', true)
        },
        async validateForm() {
            return this.$refs.vegetableCreate.validate();
        },
        create() {
            this.validateForm().then(() => {
                if (this.vegetable.HarvestTo < this.vegetable.HarvestFrom) {
                    this.$snotify.error("Ngày kết thúc thu hoạch phải lớn hơn hoặc bằng ngày bắt đầu thu hoạch.");
                    return;
                }
                if (this.valid) {
                    this.state.loading = true;
                    let { vegetable } = this;
                    vegetable.IsDelete = false;
                    console.log("2");

                    vegetableService.create(vegetable).then(success => {
                        let data = success.body;
                        if (data.status === settings.SUCCESS) {
                            this.$snotify.success("Thêm mới rau vào hệ thống thành công");
                            this.state = { success: true };
                            this.$emit('created', data.data);
                            this.closeDialog();
                        } else {
                            this.$snotify.error("Không thể thêm mới rau vào hệ thống");
                            this.state = { success: false };
                        }
                    }).catch(error => {
                        console.error(error);
                        this.$snotify.error("Không thể thêm mới rau vào hệ thống");
                        this.state = { success: false };
                    });
                }
            });
        }
    }
}
</script>