<template>
    <div id="vegetables" class="flex flex-cloumn">
        <v-skeleton-loader
            v-if="state.loading"
            :loading="true"
            type="list-item-three-line"
        ></v-skeleton-loader>
        <v-row>
            <v-col cols="12" md="6" v-for="veg in vegetables" :key="veg.id">
                <v-card :id="`vegetable_${veg.id}`">
                    <v-card-title>
                        <span>{{ veg.name }}</span>
                    </v-card-title>
                    <v-card-text>
                        <div>
                            <span>Khoảng thời gian thu hoạch: </span>
                            <span class="font-weight-bold h4">{{ veg.harvestFrom }} - {{ veg.harvestTo }}</span>
                            <span>
                                Ngày
                            </span>
                        </div>
                        <div>
                            {{ veg.description }}
                        </div>
                    </v-card-text>
                    <v-divider/>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn color="error" depressed @click="removeVegetable(veg.id)">
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import { PageMixin } from "../../mixins";
import { vegetableService } from '../../_services';
import { settings } from '../../config';

export default {
    name: 'vegetable-table',
    mixins: [PageMixin],
    data: () => ({
        _page: 1,
        vegetables: [],
        state: { loading: false },
        stateRemove: { loading: false }
    }),
    methods: {
        getListVegetables() {
            let { size } = this;
            let page = this._page;
            this.state.loading = true;
            vegetableService.getListVegetables(size, page).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.vegetables = data.data;
                    this.state = { success: true }
                } else {
                    this.state = { success: false }
                }
            }).catch(error => {
                console.error(error);
                this.state = { success: false }
            });
        },
        removeVegetable(id) {
            this.stateRemove.loading = true;
            vegetableService.remove(id).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    let index = this.vegetables.findIndex(v => v.id === id);
                    this.vegetables.splice(index, 1);
                    this.state = { success: true }
                    this.$snotify.success("Xóa thành công.");
                } else {
                    this.state = { success: false }
                    this.$snotify.error("Không thể xóa rau này.");
                }
            }).catch((error) => {
                console.error(error);
                this.state = { success: false }
                this.$snotify.error("Không thể xóa rau này.");
            });
        }
    },
    mounted() {
        this._page = this.page;
        this.getListVegetables();
    }
}
</script>