<template>
    <v-dialog v-model="show" :max-width="settings.DIALOG_CONFIRM_MAX_WIDTH">
      <v-card>
        <v-card-title>
            <div class="flex-fill">Chặn người dùng?</div>
            <v-btn small text rounded @click="closeDialog">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text>
          <p>Bạn có chắc là chặn tài khoản <strong v-text="user.username"></strong> này khỏi hệ thống.</p>
        </v-card-text>
        <v-card-actions class="flex-column px-5 mx-5">
          <v-btn color="error darken-1" block @click="blockUserReq" :loading="blockUser.state.loading">
            Tôi đồng ý.
          </v-btn>
          <v-btn text class="mt-3" @click="closeDialog">
            Không, tôi chưa sẵn sàng.
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
  name: 'UserBlockDialog',
  props: {
    show: {
      type: Boolean,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  methods: {
    closeDialog() {
      this.$emit('close:dialog', true);
    },
    blockUserReq() {
      const { username } = this.user;
      this.$store.dispatch('userModule/blockUser', { username });
    }
  },
  computed: {
    blockUser() {
      return this.$store.state.userModule.blockUser;
    }
  },
  watch: {
    blockUser: {
      handler() {
        if (this.blockUser.state.success === true) {
          this.closeDialog();
          this.$emit('user:blocked', true);
          this.$snotify.success("Block người dùng thành công");
        } else if (this.blockUser.state.success === false) {
          this.$emit('user:blocked', false);
          this.$snotify.error("Không thể block người dùng");
        }
      }
    }
  },
  mounted() {
    this.$store.dispatch('userModule/blockUserResetState');
  }
}
</script>