<template>
    <v-card :loading="loading" :disabled="loading">
        <v-card-title>
            <span class="flex-fill">{{ isEdited? `Cập nhập người dùng: ${user.Username}` : 'Create user' }}</span>
            <v-btn small text fab @click="closeDialog">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-divider/>
        
        <v-form ref="userForm" @submit.prevent="submitForm" lazy-validation v-model="valid">
            <v-card-text>
                <v-list>
                    <v-list-item v-if="!isEdited">
                        <v-list-item-icon>
                            <v-icon>mdi-account</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-text-field label="Tên tài khoản" outlined dense v-model="user.Username" :rules="rules.username" hide-details="auto"></v-text-field>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-if="!isEdited">
                        <v-list-item-icon>
                            <v-icon>mdi-lock</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-text-field label="Mật khẩu" outlined dense v-model="user.Password" type="password" :rules="rules.password" hide-details="auto"></v-text-field>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon>account_circle</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-text-field label="Tên" outlined dense v-model="user.Name" :rules="rules.name" hide-details="auto"></v-text-field>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-if="isEdited">
                        <v-list-item-icon>
                            <v-icon>email</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-text-field label="Email" outlined dense v-model="user.Email" type="email" hide-details="auto"></v-text-field>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-if="isEdited">
                        <v-list-item-icon>
                            <v-icon>location_on</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-text-field label="Địa chỉ" outlined dense v-model="user.Address" hide-details="auto"></v-text-field>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon>mdi-phone</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-text-field 
                            label="Số điện thoại" 
                            outlined 
                            dense
                            v-model="user.Phone" 
                            type="text" 
                            :rules="rules.phone"
                            hint="VD: 098 555 2025"
                            hide-details="auto"></v-text-field>
                        </v-list-item-content>
                    </v-list-item>

                    
                </v-list>
            </v-card-text>
            <v-divider/>
            <v-card-actions v-if="!isEdited" class="justify-end">
                <v-btn text color="success" @click="resetForm">Reset</v-btn>
                <v-btn depressed color="primary" type="submit">Create</v-btn>
            </v-card-actions>
            <v-card-actions v-if="isEdited" class="justify-end">
                <v-btn depressed color="primary" type="submit" :loading="loading">Lưu</v-btn>
            </v-card-actions>
        </v-form>
    </v-card>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
    name: 'user-form',
    props: {
        value: {
            type: Object
        }
    },
    methods: {
        closeDialog() {
            this.$emit('close:dialog', true);
        },
        resetForm() {
            this.$refs.userForm.reset();
        },
        submitForm() {
            if (!this.isEdited) {
                this.validateForm().then(() => {
                    if (this.valid === true) {
                        const { user } = this;
                        this.$store.dispatch('userModule/createNewUser', { user });
                    }
                });
            } else {
                let username = this.user.Username;
                let { Name, Phone, Email, Address } = this.user;
                let body = { Name, Phone, Email, Address }
                this.$store.dispatch('userModule/updateUser', {username, body });
            }
        },
        async validateForm() {
            return await this.$refs.userForm.validate();
        }
    },
    computed: {
        loading() {
            return this.newUser.state.loading || this.isLoading;
        },
        isSuccess() {
            return this.updateUser.state.success === true || this.newUser.state.success === true
        },
        isEdited() {
            return this.value != undefined;
        },
        ...mapGetters('userModule', {
            isLoading: 'isLoading'
        }),
        ...mapState({
            newUser: state => state.userModule.newUser,
            updateUser: state => state.userModule.update
        }),
        createState() {
            return this.newUser.state;
        },
        updateState() {
            return this.$store.state.userModule.update.state;
        }
    },
    watch: {
        isSuccess: {
            handler() {
                if (!this.isEdited) {
                    this.$refs.userForm.reset();
                    this.$emit('create:success', this.newUser.data);
                }
                this.$store.dispatch('userModule/getAllUser', {size: 12, page: 1});
            }
        },
        createState: {
            handler() {
                if (this.createState.success === false) {
                    this.$snotify.error(`Có lỗi xảy ra, vui lòng thử lại. ${this.newUser.message}`);
                } else if (this.createState.success === true) {
                    this.$snotify.success(`Tạo tài khoản mới thành công.`);
                }
            }
        },
        updateState: {
            handler() {
                if (this.isEdited && this.updateState.success === false) {
                    this.$snotify.error(`Có lỗi xảy ra, vui lòng thử lại. ${this.updateUser.message}`);
                } else if (this.isEdited && this.updateState.success === true) {
                    this.$snotify.success(`Tài khoản <strong>${this.user.Username}</strong> cập nhập thành công.`);
                }
            }
        }
    },
    data: () => ({
        user: {
            Username: "",
            Password: "",
            Name: "",
            Phone: ""
        },
        valid: true,
        rules: {
            username: [
                v => !!v || 'Vui lòng nhập tên tài khoản của bạn.',
                v => (v && v.length >= 3) || 'Tên tài khoản phải lớn hơn 3 ký tự.',
                v => (v || '').indexOf(' ') < 0 || 'Tên tài khoản không chứa ký tự khoảng trắng.',
            ],
            password: [
                v => !!v || 'Vui lòng nhập mật khẩu của bạn.',
                v => (v && (v.length >= 6 && v.length <= 50)) || 'Mật khẩu phải từ 6 -> 50 ký tự.',
            ],
            name: [
                v => !!v || 'Vui lòng nhập họ và tên của bạn.',
                v => (v && (v.length >= 5 && v.length <= 50)) || 'Tên phải lớn hơn hoặc bằng 5 và nhỏ hơn hoặc bằng 50 ký tự.',
            ],
            phone: [
                v =>  /(03|07|08|09|01[2|6|8|9])+([0-9]{8})\b/.test(v) || 'Vui lòng nhập số điện thoại đúng định dạng.',
            ]
        },
    }),
    mounted() {
        if (this.isEdited) {
            this.user = {
                Username: this.value.username,
                Password: this.value.password,
                Name: this.value.name,
                Email: this.value.email,
                Address: this.value.address,
                Phone: this.value.phone,
                DeviceToken: this.value.deviceToken,
                IsDelete: this.value.isDelete
            }
        }
        this.$store.commit('userModule/setUpdateState', { state: {} })
    }
}
</script>