<template>
    <v-card elevation="12">
        <v-card-title>
            <h2 class="display-1 flex-fill">
                <span>Camera:</span>
                {{ data.name }}
            </h2>
            <v-btn text rounded small @click="closeDialog">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text>
            <p>Chỗ này để hiện cái màn hình xem camera vườn rau của người dùng :)</p>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: 'user-camera-view',
    props: {
        data: {
            type: Object,
            required: true
        }
    },
    methods: {
        closeDialog() {
            this.$emit('close:dialog', true);
        }
    }
}
</script>