<template>
    <v-card elevation="12" :loading="userByUsername.state.loading">
        <v-card-title>
            <h2 class="display-1 flex-fill">{{ data.name }}</h2>
            <v-btn v-if="!isContract" text fab small @click="showEdit(true)">
                <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn text fab small @click="closeDialog">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-divider/>
        <v-card-text>
            <v-list v-if="!isContract">
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>mdi-account</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="data.username" />
                        <v-list-item-subtitle>Tên tài khoản</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item class="d-none">
                    <v-list-item-icon>
                        <v-icon>mdi-camera</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="data.camera" />
                        <v-list-item-subtitle>Cameara</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>mdi-phone</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{ data.phone }}</v-list-item-title>
                        <v-list-item-subtitle>Số điện thoại</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>mail</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{ data.email }}</v-list-item-title>
                        <v-list-item-subtitle>Email</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>location_on</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{ data.address }}</v-list-item-title>
                        <v-list-item-subtitle>Địa chỉ</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>supervised_user_circle</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>
                            <span v-if="data.role === settings.ROLES.admin.role">
                                {{ settings.ROLES.admin.title }}
                            </span>
                            <span v-if="data.role === settings.ROLES.user.role">
                                {{ settings.ROLES.user.title }}
                            </span>
                        </v-list-item-title>
                        <v-list-item-subtitle>Vai trò</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <div v-if="!isContract" class="my-3 d-flex">
                <v-spacer/>
                <div>
                    <v-btn class="flex-fill" outlined small @click="dialog.confirmBlock.show = true">
                        <v-icon>remove_circle</v-icon>
                    </v-btn>
                </div>
            </div>
            <v-divider/>
            <div class="mb-5">
                <v-tabs background-color="light" color="teal darken-3" grow show-arrows>
                    <v-tab v-if="!isContract">
                        <v-icon left>video_label</v-icon>Luống rau
                    </v-tab>
                    <v-tab>
                        <v-icon left>receipt</v-icon>Danh sách hợp đồng
                    </v-tab>
                    <v-tab v-if="!isContract">
                        <v-icon left>schedule</v-icon>Lịch trình detect
                    </v-tab>

                    <v-tab-item v-if="!isContract" key="plots">
                        <Plots 
                            :username="user.username"
                            :plots="plots"
                            :state="state.plots"
                            @plot:created="getUserPlots"
                        />
                    </v-tab-item>
                    <v-tab-item key="contracts">
                        <div class="d-flex flex-column mt-5">
                            <div class="d-flex mb-3">
                                <v-btn class="mx-3" outlined color="primary" @click="createNewContract">
                                    <v-icon left>mdi-plus</v-icon>
                                    <span>Tạo mới</span>
                                </v-btn>
                            </div>
                            <v-progress-linear 
                                :indeterminate="contracts.state.loading === true"
                                v-if="contracts.state.loading"
                            />
                            <Contracts v-if="contracts.state.success === true" :data="contracts.data" @dialog="showContractDetail($event)"/>
                        </div>
                    </v-tab-item>
                    <v-tab-item v-if="!isContract" key="schedules">
                        <div class="d-flex flex-column mt-5">
                            <div class="buttons d-flex mb-3">
                                <v-btn 
                                    depressed color="success" 
                                    :loading="state.start.loading" 
                                    :disabled="state.start.loading" 
                                    @click="startUserSchedules"
                                >Bắt đầu detect</v-btn>
                                <v-btn 
                                    depressed 
                                    class="ml-3" 
                                    :loading="state.stop.loading" 
                                    :disabled="state.stop.loading" 
                                    @click="stopUserSchedules"
                                >Ngừng detect</v-btn>
                                <v-spacer />
                            </div>
                            <v-progress-linear 
                                :indeterminate="state.schedules.loading === true"
                                v-if="state.schedules.loading"
                            />
                            <SchedulesTable v-if="state.schedules.success === true" :value="schedules" />
                        </div>
                    </v-tab-item>
                </v-tabs>
            </div>
        </v-card-text>

        <v-divider/>
        

        <div class="dialogs">
            <v-dialog v-model="dialog.contract.show" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
                <ContractDetail :id="dialog.contract.id" :key="dialog.contract.id" @open:editDialog="editContract($event)" @close:dialog="dialog.contract.show = !$event"/>
            </v-dialog>

            <UserBlockDialog v-if="!isContract" @user:blocked="userBlocked($event)" @close:dialog="closeConfirmDialog($event)" :show="dialog.confirmBlock.show" :user="user"/>

            <v-dialog v-if="!isContract" v-model="dialog.editForm.show" :max-width="settings.DIALOG_MAX_WIDTH" :key="`edit_${user.username}`">
                <UserForm :value="data" @close:dialog="showEdit(!$event)"/>
            </v-dialog>

            <v-dialog v-model="dialog.createNewContract.show" :key="dialog.createNewContract.key" :max-width="settings.DIALOG_MAX_WIDTH">
                <ContractCreate 
                    :username="user.username" 
                    @create:success="createNewContractSuccess($event)" 
                    @close:dialog="createNewContract(!$event, null)"
                />
            </v-dialog>

            <v-dialog v-model="dialog.editContract.show" :key="dialog.editContract.id" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
                <ContractUpdateForm :data="dialog.editContract.id" @close:dialog="editContract({ show: !$event, data: null })" />
            </v-dialog>
        </div>

    </v-card>
</template>

<script>
import { mapState } from "vuex";
import { userService } from '../../_services';
import { settings } from '../../config';
import { PageMixin } from "../../mixins";

import Contracts from '../Contract/Contracts';
import ContractDetail from '../Contract/ContractDetail';
import UserBlockDialog from '../User/UserBlockDialog';
import UserForm from '../User/UserForm';
import SchedulesTable from '../Schedule/SchedulesTable';
import ContractCreate from "../Contract/ContractCreate";
import ContractUpdateForm from "../Contract/ContractUpdateForm";
import Plots from "../Plots/Plots";


export default {
    name: 'user-detail',
    props: {
        user: {
            type: Object
        },
        isContract: {
            type: Boolean,
            default: false
        }
    },
    components: {
        Contracts,
        ContractDetail,
        UserBlockDialog,
        UserForm,
        SchedulesTable,
        ContractCreate,
        ContractUpdateForm,
        Plots
    },
    mixins: [PageMixin],
    methods: {
        closeDialog() {
            this.$emit('close:dialog', true);
        },
        getUserByUsername() {
            this.$store.dispatch('userModule/getUserByUsername', this.user.username);
        },
        getUserContracts() {
            this.$store.dispatch('contractModule/getUserContracts', this.user.username, this.size, this.page);
        },
        showContractDetail(obj) {
            this.dialog.contract.id = obj.id;
            this.dialog.contract.show = obj.show;
        },
        closeConfirmDialog(event) {
            this.dialog.confirmBlock.show = !event;
            //this.closeDialog();
        },
        editContract(obj) {
            this.dialog.editContract.show = obj.show;
            this.dialog.editContract.id = obj.data;
        },
        showEdit(show) {
            this.dialog.editForm.show = show;
        },
        userBlocked(isSuccess) {
            if (isSuccess) {
                this.closeDialog();
                let { size, page } = this;
                this.$store.dispatch('userModule/getAllUser', { size, page });
            }
        },
        getUserPlots() {
            this.plots = [];
            this.state.plots = { loading: true }
            userService.getUserPlots(this.user.username).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.plots = data.data;
                    this.state.plots = { success: true }
                } else {
                    // console.error("Cannot get plots data");
                    this.state.plots = { success: false }
                }
            }).catch(error => {
                console.error(`${error.status}: Cannot get plots data ___ ${error.statusText}`);
                this.state.plots = { success: false }
            })
        },
        getUserSchedules() {
            this.state.schedules = { loading: true };
            userService.getUserSchedules(this.user.username).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.schedules = data.data;
                    this.state.schedules = { success: true };
                } else {
                    console.error("Cannot get plots data");
                    this.state.schedules = { success: false };
                }
            }).catch(error => {
                console.error(`${error.status}: Cannot get schedules data ___ ${error.statusText}`);
                this.state.schedules = { success: false };
            });
        },
        createNewContract(show = true, key = "CreateNewContract") {
            this.dialog.createNewContract.show = show;
            this.dialog.createNewContract.key = key;
        },
        createNewContractSuccess(contract) {
            this.contracts.data.push(contract);
            this.createNewContract(false, null);
        },
        startUserSchedules() {
            this.state.start = { loading: true };
            let { username } = this.user;
            userService.startUserSchedules(username).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.state.start = { success: true };
                    this.getUserSchedules();
                } else {
                    this.state.start = { success: false };
                }
            }).catch(error => {
                this.state.start = { success: false };
                console.error(error);
            });
        },
        stopUserSchedules() {
            this.state.stop = { loading: true };
            let { username } = this.user;
            userService.stopUserSchedules(username).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.state.stop = { success: true };
                    this.getUserSchedules();
                } else {
                    this.state.stop = { success: false };
                }
            }).catch(error => {
                this.state.stop = { success: false };
                console.error(error);
            });
        }
    },
    data: () => ({
        //
        data: {},
        dialog: {
            contract: {
                id: 0,
                show: false
            },
            confirmBlock: {
                show: false
            },
            editForm: {
                show: false
            },
            createNewContract: {
                show: false,
                key: null
            },
            editContract: {
                id: null,
                show: false
            }
        },
        plots: [],
        schedules: [],
        state: {
            plots: { loading: false },
            schedules: { loading: false },
            start: { loading: false },
            stop: { loading: false }
        }
    }),
    mounted() {
        this.data = this.user;
        if (this.user !== null) {
            this.getUserByUsername();
            this.getUserContracts();
            this.getUserPlots();
            this.getUserSchedules();
        }
    },
    computed: {
        ...mapState({
            contracts: state => state.contractModule.userContract,
            userByUsername: state => state.userModule.userByUsername,
            updateState: state => state.userModule.update.state
        })
    },
    watch: {
        userByUsername: {
            immediate: false,
            handler() {
                if (this.userByUsername.data !== undefined) {
                    this.data = this.userByUsername.data;
                }
            }
        },
        updateState: {
            handler() {
                if (this.updateState.success === true) {
                    let {size, page } = this;
                    this.$store.dispatch('userModule/getAllUser', { size, page });
                    this.closeDialog();
                }
            }
        }
    }
}
</script>