<template>
    <v-navigation-drawer app v-model="showNav" color="grey lighten-5">
      <v-list-item>
        <v-list-item-avatar>
          <v-img lazy-src="@/assets/logo_36x36.png" src="@/assets/logo_100x100.png" />
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="title">
            IVMI
          </v-list-item-title>
          <v-list-item-subtitle>
            ADMIN PANEL
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list nav>
        <v-list-item v-for="(item, i) in menus" :to="item.route" :key="i" color="primary">
          <v-list-item-icon>
            <v-icon v-text="item.icon" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <v-divider></v-divider>
        <div class="">
          <v-list>
            <v-list-item>
              <v-list-item-avatar class="d-none" size="36">
                <v-avatar color="teal" size="36">
                  <span class="white--text">HS</span>
                </v-avatar>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="title">
                  <span class="body-1">Xin chào, {{ user.username }}!</span>
                </v-list-item-title>
                <v-list-item-subtitle>
                  <span class="caption">Chúc một ngày tốt lành</span>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-btn outlined block @click="logOut()">Đăng xuất</v-btn>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>
      </template>
      
    </v-navigation-drawer>
</template>

<script>
import { cookies } from '../../config';

export default {
    name: 'navigation-drawer',
    props: {
      nav: {
        type: Boolean,
        required: true
      }
    },
    methods: {
      logOut() {
        if (cookies.isKey('User')) {
          cookies.remove('User');
          this.$router.go({ name: 'Login' });
        }
      }
    },
    data: () => ({
      user: {},
      menus: [
        // {title: 'Tổng quan', route: {name: 'Home'}, icon: 'dashboard'},
        {title: 'Quản lý người dùng', route: {name: 'User Management'}, icon: 'mdi-account-multiple'},
        {title: 'Quản lý yêu cầu', route: {name: 'Request'}, icon: 'history'},
        {title: 'Quản lý Hợp đồng', route: {name: 'Contracts Management'}, icon: 'receipt'},
        {title: 'Quản lý rau', route: {name: 'Vegetable'}, icon: 'eco'},
        {title: 'Hình ảnh đóng góp', route: {name: 'Images'}, icon: 'photo'},
        // {title: 'Lịch sử detect', route: {name: 'History Detect'}, icon: 'history'}
      ],
      showNav: false
    }),
    mounted() {
      //
      if (cookies.isKey('User')) {
        this.user = cookies.get('User');
      }
      //
      this.showNav = this.nav
    }
}
</script>