<template>
    <v-dialog v-model="show" :max-width="settings.DIALOG_MAX_WIDTH_SMALL" persistent>
        <v-card>
            <v-card-title>
                <div>Thêm luống số {{ line }}</div>
                <v-spacer/>
                <v-btn fab small depressed @click="closeDialog">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-card-title>
            <v-divider/>
            <div class="mx-4 my-3">
                <v-form>
                    <div class="d-flex align-center">
                        <label for="plotSize" class="mr-2">Size</label>
                        <v-select id="plotSize" solo v-model="size" :items="sizeItems" hide-details></v-select>
                    </div>
                    
                </v-form>
            </div>
            <v-divider/>
            <v-card-actions>
                <v-spacer/>
                <v-btn color="primary" @click="create" :disabled="state.loading" :loading="state.loading">Tạo</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { settings } from '../../config';
import { plotService } from '../../_services';

export default {
    name: 'new-plot-dialog',
    props: {
        username: {
            type: String,
            require: true
        },
        currentPlots: {
            type: Array,
            require: true
        },
        show: {
            type: Boolean,
            require: true
        }
    },
    data: () => ({
        state: { loading: false },
        size: 0,
        sizeItems: []
    }),
    methods: {
        closeDialog() {
            this.$emit('close:dialog', true);
        },
        create() {
            let { username, line, size } = this;
            let body = {
                Username: username,
                Line: line,
                Size: size,
                IsDelete: false
            }
            this.state.loading = true;
            plotService.create(body).then((success) => {
                let data = success.body
                if (data.status === settings.SUCCESS) {
                    this.state = { success: true };
                    this.$emit('created');
                    this.$snotify.success("Tạo thành công");
                    this.closeDialog();
                } else {
                    this.state = { success: true };
                    this.$snotify.error("Không thể tạo");
                }
            }).catch(() => {
                this.state = { success: false };
                this.$snotify.error("Không thể tạo");
            });
        }
    },
    computed: {
        line() {
            let line = 1;
            let { currentPlots } = this;
            if (currentPlots.length >= 1) {
                let currentLine = currentPlots[0].line;
                if (currentLine == 1) {
                    line = 2;
                }
            }
            return line;
        }
    },
    mounted() {
        this.sizeItems = settings.PLOTS.POT_SIZE;
        this.size = this.sizeItems[0];
    }
}
</script>