<template>
    <div id="plots" class="mt-5">
        <div class="d-md-flex align-center">
            <v-btn class="mb-3" depressed color="primary" :disabled="!isNew" @click="plotDialog(true, 'new-plot')">
                <v-icon left>add</v-icon>Thêm mới luống rau
            </v-btn>
            <v-spacer/>
            <v-btn 
                depressed 
                @click="getImageFromCamera"
                :loading="stateGetImg.loading"
                :disabled="stateGetImg.loading"
            >Lấy hình ảnh từ camera</v-btn>
        </div>
        <div v-if="state.success" class="d-flex flex-column">
            <div class="d-flex flex-column justify-center mt-4" v-for="(plot, index) in plots" :key="plot.id" :id="`plots_${plot.id}`">
                <v-divider v-if="index > 0" />
                <div class="d-flex justify-center align-center my-3">
                    <span class="headline ">Luống {{ plot.line }}</span>
                    <v-btn
                        small text color="error" class="ml-2"
                        @click="removePlot(plot.id)"
                        :loading="stateRemove.loading"
                        :disabled="stateRemove.loading"
                    >
                        <v-icon>delete_outline</v-icon>
                    </v-btn>
                </div>
                <div class="d-flex justify-center">
                    <v-btn
                        small
                        class="mr-2"
                        v-for="pot in plot.pots" 
                        :key="pot.id" 
                        :outlined="pot.status == 0"
                        :depressed="pot.status != 0"
                        color="green lighten-2"
                        @click="potDialog(true, pot)"
                    >
                        
                        <span>Chậu {{ pot.position }}</span>
                    </v-btn>
                </div>
            </div>
        </div>
        <div v-if="state.loading" class="d-flex flex-column mt-5">
            <v-skeleton-loader
                :loading="true"
                type="list-item-three-line"
            ></v-skeleton-loader>
        </div>
        

        <div class="dialogs">
            <PotDialog 
                :show="dialog.pot.show"
                :pot="dialog.pot.data"
                :key="dialog.pot.id"
                :username="username"
                @close:dialog="potDialog(!$event, {})"
            />
            <NewPlotDialog
                :username="username"
                :current-plots="plots"
                :show="dialog.plot.show"
                :key="dialog.plot.id"
                @close:dialog="plotDialog(!$event, null)"
                @created="plotCreated"
            />
        </div>
    </div>
</template>

<script>
import PotDialog from "../Pots/PotDialog";
import NewPlotDialog from "./NewPlotDialog";

import { settings } from '../../config';
import { plotService, imageService } from '../../_services';

export default {
    name: 'List-Plots',
    props: {
        username: {
            type: String,
            require: true
        },
        plots: {
            type: Array,
            require: true
        },
        state: {
            type: Object,
            require: true
        }
    },
    components: { PotDialog, NewPlotDialog },
    data: () => ({
        dialog: {
            pot: {
                id: null,
                data: {},
                show: false
            },
            plot: {
                id: null,
                show: false
            }
        },
        stateRemove: { loading: false },
        stateGetImg: { loading: false }
    }),
    methods: {
        potDialog(show, data) {
            this.dialog.pot = {
                data: data,
                show: show,
                id: data.id
            }
        },
        plotDialog(show, id) {
            this.dialog.plot = {
                id: id,
                show: show
            }
        },
        plotCreated() {
            this.$emit('plot:created');
        },
        removePlot(id) {
            this.stateRemove.loading = true;
            plotService.remove(id).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.stateRemove = { success: true };
                    this.plotCreated();
                    this.$snotify.success('Xóa thành công');
                } else {
                    this.stateRemove = { success: false };
                    this.$snotify.error('Không thể xóa');
                }
            }).catch(() => {
                this.stateRemove = { success: false };
                this.$snotify.error('Không thể xóa');
            });
        },
        getImageFromCamera() {
            this.stateGetImg = { loading: true }
            imageService.getImageFromCamera().then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.$snotify.success("Lấy hình ảnh thành công.");
                    this.stateGetImg = { success: true }
                } else {
                    this.$snotify.error("Không thể lấy hình ảnh.");
                    this.stateGetImg = { success: false }
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error("Không thể lấy hình ảnh.");
                this.stateGetImg = { success: false }
            });
        }
    },
    computed: {
        isNew() {
            return this.plots.length < settings.PLOTS.MAX;
        }
    }
}
</script>