<template>
     <v-container>
    <v-row>
      <v-col cols="12">
        <h1 class="display-2">Quản lý Hợp đồng</h1>
      </v-col>
      <v-col cols="12" class="d-block d-md-flex align-center">
        <v-btn large outlined color="primary" @click="create">
            <v-icon left>mdi-plus</v-icon> Tạo mới
        </v-btn>
        <v-spacer></v-spacer>
  
        <v-menu 
          v-model="searchResults" 
          offset-y close-on-content-click attach 
          nudge-bottom="1" nudge-right="20"
          open-delay="500"
          class="d-none"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field class="d-none" solo rounded append-icon="search" v-model="keyword" placeholder="Tìm kiếm..." v-bind="attrs" v-on="on" @input="search" hide-details />
          </template>
          <v-card>
            <div v-if="searchState.loading" class="d-flex justify-center py-3">
              <v-progress-circular color="primary" indeterminate />
            </div>
            <div v-else>
              <div v-if="users.length === 0">
                <div class="d-flex px-3 py-3 align-center justify-center headline">
                  Không tìm thấy.
                </div>
              </div>
              <v-list v-else>
                <v-subheader>Kết quả tìm kiếm</v-subheader>
                <v-list-item v-for="user in users" :key="user.username" @click="searchValue = user.username; keyword = user.name">
                  <v-list-item-title>{{ `${user.name} - ${user.username}` }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </div>
          </v-card>
        </v-menu>
      </v-col>
      <v-col cols="12">
        <v-alert v-if="contracts.state.success === false" text color="error" class="my-3">
          {{ contracts.message }}
        </v-alert>

        <v-card :loading="contracts.state.loading">
          <div v-if="contracts.state.success || showTable">
            <Contracts :data="contracts.data" @dialog="showContractDetail($event)" @paused="getListContracts" />
            <pagination v-model="page" class="mt-3 pb-3" :length="1"></pagination>
          </div>
          <p></p>
        </v-card>
      </v-col>
    </v-row>

    <div class="dialogs">
      <v-dialog v-model="dialog.contract.show" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
        <ContractDetail :id="dialog.contract.id"
                        :key="dialog.contract.id" 
                        @close:dialog="dialog.contract.show = !$event"
                        @open:editDialog="openEditDialog($event)" />
      </v-dialog>

      <v-dialog v-model="dialog.edit.show" :key="dialog.edit.data.id" :max-width="settings.DIALOG_CONTRACT_MAX_WIDTH" persistent>
          <ContractUpdateForm 
            :data="dialog.edit.data" 
            @close:dialog="dialog.edit.show = !$event"
            @update:success="openEditDialog({show: false, data: {}});getListContracts();dialog.contract.show = false"
          />
      </v-dialog>

      <v-dialog v-model="dialog.create.show" :max-width="settings.DIALOG_MAX_WIDTH">
        <ContractCreate @create:success="createSuccess($event)" @close:dialog="dialog.create.show = !$event" />
      </v-dialog>

      <v-dialog v-model="dialog.user.show" scrollable :key="searchValue" :max-width="settings.DIALOG_MAX_WIDTH_2" persistent>
        <UserDetail @close:dialog="dialog.user.show = !$event; searchValue = null" :user="{ username: searchValue }" :isContract="true" />
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
import Contracts from '../components/Contract/Contracts';
import ContractDetail from '../components/Contract/ContractDetail';
import ContractUpdateForm from '../components/Contract/ContractUpdateForm';
import ContractCreate from '../components/Contract/ContractCreate';
import UserDetail from '../components/User/UserDetail';
import { userService } from '../_services';
import { settings } from '../config';
import { PageMixin } from "../mixins";

export default {
    name: 'contracts-management',
    components: {
        Contracts,
        ContractDetail,
        ContractUpdateForm,
        ContractCreate,
        UserDetail
    },
    mixins: [ PageMixin ],
    data: () => ({
      showTable: false,
      dialog: {
          contract: {
              id: 0,
              show: false
          },
          edit: {
            data: {},
            show: false
          },
          create: {
            show: false,

          },
          user: {
            show: false
          }
      },
      keyword: '',
      searchValue: null,
      searchResults: false,
      searchState: { loading: false },
      users: []
    }),
    methods: {
        getListContracts() {
            this.$store.dispatch('contractModule/getListContracts', this.size, this.page);
        },
        showContractDetail(obj) {
            this.dialog.contract.id = obj.id;
            this.dialog.contract.show = obj.show;
        },
        openEditDialog(obj) {
          this.dialog.edit.show = obj.show;
          this.dialog.edit.data = obj.data;

          // close contract detail dialog
          // this.showContractDetail({id: this.dialog.contract.id, show: false });
        },
        create() {
          this.dialog.create.show = true;
        },
        createSuccess(contract) {
          this.dialog.create.show = false;
          // this.getListContracts();
          // console.log(contract);
          this.contracts.data.push(contract);
        },
        search() {
          
          this.searchResults = true;
          setTimeout(() => {
            this.searchByName();
          }, 300);
        },
        searchByName() {
          this.searchState = { loading: true }
          let { keyword } = this;
          if (keyword !== '') {
            userService.search(keyword).then(success => {
              let data = success.body
              if (data.status === settings.SUCCESS) {
                this.searchState = { success: true }
                this.users = data.data;
              } else {
                this.searchState = { success: false }
              }
            }).catch(error => {
              console.error(error);
              this.searchState = { success: false }
            });
          }
        }
    },
    computed: {
        contracts() {
            return this.$store.state.contractModule.contracts;
        }
    },
    watch: {
      searchValue: {
        handler() {
          if (this.searchValue != null) {
            this.dialog.user.show = true;
          }
        }
      }
    },
    mounted() {
        this.getListContracts();
    }
}
</script>