<template>
  <v-container>
    <span class="h1">HomePage</span>
  </v-container>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
  components: {
    //
  }
}
</script>
