<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h1 class="display-2">Hình ảnh bệnh đóng góp</h1>
            </v-col>
            <v-col cols="12" md="3" v-if="state.loading" class="d-flex justify-center">
                <v-skeleton-loader
                    width="100%"
                    type="card"
                ></v-skeleton-loader>
            </v-col>
            <v-col cols="12" md="3" v-for="(img, index) in images" :key="index">
                <v-card>
                    <v-img lazy-src="@/assets/logo_36x36.png" :src="img.path" />
                    <v-card-text>
                        <div>{{ img.vegetable }}</div>
                        <div>{{ img.feedbackContent }}</div>
                    </v-card-text>
                    <v-divider/>
                    <v-card-actions class="d-none">
                        <v-spacer/>
                        <v-btn :href="img.path" target="blank" depressed color="success">Tải ảnh xuống</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { imageService } from '../_services';
import { settings } from '../config';
export default {
    name: 'images-management',
    data: () => ({
        images: [],
        state: { loading: false }
    }),
    methods: {
        getAllImages() {
            let { size, page } = this;
            this.state = { loading: true };
            imageService.getAllImages(size, page).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.state = { success: true };
                    this.images = data.data;
                } else {
                    this.state = { success: false };
                }
            }).catch(error => {
                console.error(error);
                this.state = { success: false };
            });
        }
    },
    mounted() {
        this.getAllImages();
    }
}
</script>