<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="3">
                <v-card class="elevation-12" :loading="loading" :disabled="disabled">
                    <div class="d-flex align-center justify-center pt-3">
                        <v-img lazy-src="@/assets/logo_36x36.png" src="@/assets/logo.png" width="100" class="shrink"/>
                        <v-sheet class="d-none display-1 font-weight-medium" color="transparent">
                            IVMI
                        </v-sheet>
                    </div>
                    <div class="d-flex flex-column align-center justify-center">
                        <v-sheet color="transparent">
                            Đăng nhập để truy cập vào hệ thống <strong>IVMI</strong>.
                        </v-sheet>
                    </div>
                    <v-card-text>
                         <v-alert type="error" text class="my-3 mb-5" v-if="showError">
                            {{ message === "Username or Password is not correct"? "Tên tài khoản và mật khẩu không đúng" : message}}
                        </v-alert>
                        <v-form ref="form" lazy-validation v-model="valid" @submit.prevent="logIn">
                            <v-text-field 
                                label="Tên tài khoản" 
                                name="login" 
                                v-model="user.Username" 
                                type="text" 
                                outlined 
                                :rules="rules.username"
                                required />
                            <v-text-field 
                                label="Mật khẩu" 
                                name="password" 
                                v-model="user.Password" 
                                type="password" 
                                outlined 
                                :rules="rules.password" 
                                required />
                            <v-btn block color="primary" type="submit">Đăng nhập</v-btn>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { cookies } from '../config';
import { login } from '../_services';

export default {
    name: 'Login',
    methods: {
        disabledAndLoad(disable, load) {
            this.disabled = disable;
            this.loading = load;
        },
        async validate() {
            return await this.$refs.form.validate();
        },
        logIn() {
            this.validate().then(() => {
                if (this.valid) {
                    this.showError = false;
                    this.disabledAndLoad(true, true);
                    const { user } = this;

                    login(user).then(result => {
                        let data = result.body;
                        this.status = data.status;
                        this.message = data.message;

                        if (this.status === "FAILED") {
                            this.showError = true;
                        } else if (this.status === "SUCCESS") {
                            let role = data.data.role;
                            if (role === 2) {
                                cookies.set('User', JSON.stringify(data.data));
                                this.$router.go({ name: 'User Management' });
                            } else {
                                this.showError = true;
                                this.message = "Xin lỗi tài khoản của bạn không có quyền được truy cập vào hệ thống.";
                            }
                        }

                        this.disabledAndLoad(false, false);
                    }).catch(error => {
                        console.error(error);
                        this.disabledAndLoad(false, false);
                        this.showError = true;
                        if (error.status === 0) {
                            this.message = 'Có lỗi xảy ra, vui lòng thử lại sau.';
                        } else {
                            this.message = `${error.status} - ${error.statusText}`;
                        }
                        
                    });
                }
            });
            
        }
    },
    data: () => ({
        loading: false,
        disabled: false,
        valid: true,
        rules: {
            username: [
                v => !!v || 'Vui lòng nhập tên tài khoản của bạn.'
            ],
            password: [
                v => !!v || 'Vui lòng nhập mật khẩu của bạn.'
            ]
        },
        user: {
            Username: "",
            Password: ""
        },
        showError: false,
        status: "",
        message: "",
    }),
    mounted() {
        //
    }
}
</script>