<template>
    <v-container>
        <v-row class="justify-center flex-fill">
            <v-col cols="12" md="10" lg="6">
                <div v-if="show">
                    <h1 class="display-1">Gia hạn hợp đồng</h1>
                    <div class="mt-3">
                        <v-text-field solo label="Nhập mã hợp đồng" v-model="token" disabled />
                        <div v-if="state.success === true">
                            <ContractDetail :id="contractId" :purchase="true" />
                        </div>
                    </div>
                </div>
                <v-sheet v-else color="grey lighten-5" elevation="1" rounded>
                    <div class="d-flex flex-column px-5 py-5">
                        <div class="display-3 mx-5 my-5">
                            Lỗi,
                        </div>
                        <div class="text-body">
                            Trang này không tìm thấy hoặc bạn không có quyên truy cập.
                        </div>
                    </div>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { contractService } from '../_services';
import { settings } from '../config';
import ContractDetail from "@/components/Contract/ContractDetail";

export default {
    name: 'purchase',
    components: { ContractDetail },
    data: () => ({
        token: null,
        contractId: 0,
        show: false,
        state: { loading: false }
    }),
    methods: {
        getContractFromRenewToken() {
            let { token } = this;
            // send request
            this.state = { loading: true };
            contractService.getContractFromRenewToken(token).then((success) => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.state = { success: true };
                    this.contractId = data.data.id;
                } else {
                    console.error(data.message);
                    this.state = { success: false };
                    this.show = false;
                }
            }).catch((err) => {
                console.error(err);
                this.state = { success: false };
                this.show = false;
            });
        }
    },
    computed: {
        renewToken() {
            return this.$route.query?.token;
        }
    },
    watch: {
        token: {
            immediate: true,
            handler() {
                if (this.token !== null) {
                    this.show = true;
                }
            }
        }
    },
    mounted() {
        if (this.renewToken !== null && this.renewToken !== undefined) {
            localStorage.renew_contract_token = this.renewToken;
            this.$router.push({ name: 'Purchase' });
        }

        if (localStorage.renew_contract_token) {
            this.token = localStorage.renew_contract_token;
            localStorage.removeItem('renew_contract_token');
        }
        
        this.getContractFromRenewToken();
    }
}
</script>