<template>
    <v-container>
        <v-row class="justify-center">
            <v-col cols="12">
                <h1 class="display-1">Đăng ký sử dụng hệ thống IVMI</h1>
            </v-col>
            <v-col cols="12" md="10" lg="8">
                <v-stepper v-model="step" vertical class="elevation-0">
                    <!-- STEP 1 -->
                    <v-stepper-step :complete="step > 1" _editable="true" step="1">
                        Giới thiệu
                    </v-stepper-step>
                    <v-stepper-content step="1">
                        <v-card class="elevation-0">
                            <v-card-text>
                                <div class="d-flex flex-column">
                                    <v-form ref="dimension" v-model="dimensionValid" :lazy-validation="true" class="d-flex flex-column">
                                        <div class="flex-fill mb-2">
                                            <div class="caption">Nhập chiều dài khu vườn của bạn(m):</div>
                                            <v-text-field 
                                                solo 
                                                v-model.number="dimension.x" 
                                                class="mr-1" hide-details="auto"
                                                :rules="rules.dimension"
                                                @input="dimensionInput"
                                            />
                                        </div>
                                        <div class="flex-fill mt-2">
                                            <div class="caption">Nhập chiều rộng khu vườn của bạn(m):</div>
                                            <v-text-field 
                                                solo class="ml-1" hide-details="auto"
                                                v-model.number="dimension.y" 
                                                :rules="rules.dimension"
                                                @input="dimensionInput"
                                            />
                                        </div>
                                    </v-form>
                                    <div class="d-flex my-3">
                                        <v-spacer/>
                                        <v-btn outlined color="success" @click="proccesssEquipment">
                                            Xem bảng giá
                                        </v-btn>
                                    </div>
                                </div>
                                <div v-if="showEquipment">
                                    <v-alert text type="info">
                                        Bảng giá vật liệu trên là tham khảo cho diện tích {{ dimension.x }}x{{ dimension.y }}m. 
                                        Chúng tôi sẽ tư vẫn kỹ hơn sau khi tới khảo sát tại nhà của bạn.
                                    </v-alert>
                                    <v-data-table :headers="headers" :items="tableItems" item-key="id" hide-default-footer>
                                        <template v-slot:item.price="{ item }">
                                            {{ currencyFormater(item.price) }}
                                        </template>
                        
                                        <template v-slot:item.quantity="{ item }">
                                            <div class="mt-4">
                                                <v-text-field 
                                                    dense solo
                                                    v-model.number="item.quantity"
                                                    v-if="item.id === settings.EQUIPMENTS.PLOT || item.id === settings.EQUIPMENTS.SHELVING_PLASTIC"
                                                    @input="equipmentInput(item)"
                                                    :rules="rules.dimension"
                                                />
                                                <div v-else class="d-flex justify-center">
                                                    {{ item.quantity }}
                                                </div>
                                            </div>
                                        </template>

                                        <template v-slot:item.total="{ item }">
                                            <div>
                                                {{ item.quantity? currencyFormater(item.price * item.quantity) : 0 }}
                                            </div>
                                        </template>
                                    </v-data-table>
                                </div>
                            </v-card-text>
                        </v-card>

                        <div class="d-flex mt-10 mb-3" >
                            <v-spacer/>
                            <v-btn :disabled="!showEquipment" color="primary" @click="step = 2">Xác nhận và Tiếp tục</v-btn>
                        </div>
                    </v-stepper-content>

                    <!-- STEP 2 -->
                    <v-stepper-step :complete="step > 2" _editable="true" step="2">
                        Đăng ký dịch vụ & Thông tin liện hệ
                    </v-stepper-step>
                    <v-stepper-content step="2">
                        <v-card class="elevation-0">
                            <v-form ref="info" v-model="infoValid" :lazy-validation="true">
                                <v-card-text>
                                    <v-text-field outlined label="Họ và Tên" v-model="info.Name" :rules="rules.name" />
                                    <v-text-field outlined label="Địa chỉ" v-model="info.Address" :rules="rules.address" />
                                    <div class="d-flex flex-row">
                                        <v-text-field outlined label="Emaill" type="email" v-model="info.Email" class="mr-1" :rules="rules.email" />
                                        <v-text-field outlined label="Số điện thoại" type="phone" v-model="info.Phone" class="ml-1" :rules="rules.phone" />
                                    </div>
                                </v-card-text>
                            </v-form>
                        </v-card>

                        <div class="d-flex mt-10 mb-3" >
                            <v-spacer/>
                            <v-btn color="primary" @click="stepThree">Tiếp tục</v-btn>
                        </div>
                    </v-stepper-content>

                    <!-- STEP 3 -->
                    <v-stepper-step :complete="step > 3" _editable="true" step="3">
                        Lựa chọn gói cước
                    </v-stepper-step>
                    <v-stepper-content step="3">
                        <v-card class="elevation-0">
                            <div class="d-none flex-column justify-center">
                                <v-img src="@/assets/credit_card.png" width="300" />
                            </div>
                            <v-card-text>
                                <v-radio-group v-model="SubscriptionId">
                                    <v-radio 
                                        v-for="sub in subscriptions" 
                                        :value="sub.id"
                                        :key="sub.id"
                                        :label="`${sub.plan} tháng sử dụng - ${currencyFormater(sub.price)}.`"
                                    />
                                </v-radio-group>
                                <v-radio-group class="d-none" v-model="isPostPay">
                                    <v-radio 
                                        :value="true" 
                                        label="Trả sau"
                                    />
                                    <v-radio
                                        :value="false" 
                                        label="Trả trước"
                                    />
                                </v-radio-group>
                                <div v-if="!isPostPay" class="d-flex mt-3">
                                    <v-text-field v-model="info.CardNumber" solo label="Số thẻ" />
                                </div>
                                <v-sheet v-else>
                                    <v-alert text type="success">
                                        Bạn có thể thanh toán sau khi nhân viên của chúng tôi tới nhà khảo sát và thiết lập hệ thống trồng rau thủy canh cho bạn.
                                    </v-alert>
                                </v-sheet>

                            </v-card-text>
                        </v-card>

                        <div class="d-flex mt-10 mb-3" >
                            <v-spacer/>
                            <v-btn color="primary" @click="step = 4">Tiếp tục</v-btn>
                        </div>
                    </v-stepper-content>

                    <!-- STEP 4 -->
                    <v-stepper-step :complete="step > 4" step="4">
                        Hoàn tất
                    </v-stepper-step>
                    <v-stepper-content step="4" class="mx-0 px-0">
                        <div class="d-flex green lighten-5 rounded-xl pt-3">
                            <v-card class="elevation-0 transparent">
                                <v-card-text>
                                    <h3>Xác nhận thông tin</h3>
                                    <v-list color="transparent">
                                        <v-list-item>
                                            <v-list-item-icon>
                                                <v-icon>account_circle</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    {{ info.Name }}
                                                </v-list-item-title>
                                                <v-list-item-subtitle>
                                                    Họ và Tên
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-icon>
                                                <v-icon>location_on</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    {{ info.Address }}
                                                </v-list-item-title>
                                                <v-list-item-subtitle>
                                                    Địa chỉ
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-icon>
                                                <v-icon>email</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    {{ info.Email }}
                                                </v-list-item-title>
                                                <v-list-item-subtitle>
                                                    Email
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-icon>
                                                <v-icon>call</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    {{ info.Phone }}
                                                </v-list-item-title>
                                                <v-list-item-subtitle>
                                                    Số điện thoại
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </v-list>
                                    <h3>Chi phí</h3>
                                    <v-list color="transparent">
                                        <v-list-item>
                                            <v-list-item-icon>
                                                <v-icon>monetization_on</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    {{ currencyFormater(money) }}
                                                </v-list-item-title>
                                                <v-list-item-subtitle>
                                                    VND
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>

                                        <v-list-item class="d-none">
                                            <v-list-item-icon>
                                                <v-icon>payment</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    {{ info.CardNumber }}
                                                </v-list-item-title>
                                                <v-list-item-subtitle>
                                                    Master card
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </v-list>
                                </v-card-text>
                            </v-card>
                        </div>
                        <div class="d-flex mt-10 mb-3" >
                            <v-btn 
                                block large 
                                color="success" 
                                @click="purchase"
                                :loading="state.loading"
                                :disabled="state.loading || state.success"
                            >Gửi đăng ký</v-btn>
                        </div>
                    </v-stepper-content>
                </v-stepper>
            </v-col>
        </v-row>
        <v-dialog v-model="dialog.show" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
            <v-card>
                <v-card-title>
                    <span>Cảm ơn</span>
                </v-card-title>
                <v-card-text>
                    Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi, chúng tôi sẽ liên hệ cho bạn sau.
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" block :to="`request-page?id=${reqId}`">
                        Xem chi tiết
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import { requestService, equipmentService, subscriptionService } from '../_services';
import { settings } from '../config';

export default {
    name: 'register',
    data: () => ({
        step: 1,
        SubscriptionId: 1,
        subscriptions: null,
        info: {
            Name: "",
            Address: "",
            Email: "",
            Phone: "",
            CardNumber: ""
        },
        state: { loading: false },
        dialog: { show: false },
        headers: [
            {text: 'Tên', value: 'name', sortable: true},
            {text: 'Giá', value: 'price', sortable: true},
            {text: 'Số lượng', value: 'quantity', sortable: true},
            {text: 'Đơn Vị', value: 'unit', sortable: true},
            {text: 'Tổng tiền', value: 'total', sortable: true},
        ],
        tableItems: [],
        showEquipment: false,
        dimension: {
            x: 0,
            y: 0
        },
        isPostPay: true,
        reqId: null,
        rules: {
            dimension: [
                // v => !!v || "Vui lòng nhập số",
                v => v >= 1 || "Lớn hơn hoặc bằng 1",
            ],
            name: [
                v => !!v || 'Vui lòng nhập họ và tên của bạn.',
                v => (v && (v.length >= 5 && v.length <= 50)) || 'Tên phải lớn hơn hoặc bằng 5 và nhỏ hơn hoặc bằng 50 ký tự.',
            ],
            phone: [
                v =>  /[0][3|8|7|9][0-9]{8}$/.test(v) || 'Vui lòng nhập số điện thoại đúng định dạng.',
            ],
            email: [
                v => !!v || 'Vui lòng nhập email.',
                v => /.+@.+\..+/.test(v) || 'Email không đúng định dạng.',
            ],
            address: [
                v => !!v || 'Vui lòng nhập địa chỉ.',
            ]
        },
        dimensionValid: false,
        infoValid: false
    }),
    methods: {
        async validDimension() {
            return await this.$refs.dimension.validate();
        },
        async validInfo() {
            return await this.$refs.info.validate();
        },
        purchase() {
            let Type = settings.REQUESTS_TYPE.SET_UP;
            let { Name, Address, Email, Phone } = this.info;
            let { x, y } = this.dimension;
            let { SubscriptionId } = this;
            let Equipments = []
            let CardNumber = 0;

            let Status = settings.REQUESTS_STATUS_NUM.PENDING;
            if (this.isPostPay) {
                Status = settings.REQUESTS_STATUS_NUM.POST_PAY;
            } else {
                CardNumber = this.info.CardNumber;
            }


            this.tableItems.forEach(equipment => {
                Equipments.push({ EquipmentId: equipment.id, Quantity: equipment.quantity })
            });
            
            let Fee = this.money - this.subscriptions.find(e => e.id === this.SubscriptionId).price;

            //
            this.state = { loading: true };
            requestService.create({
                Name, Address, Email, Phone, CardNumber, Type, Status, SubscriptionId,
                Width: x, Height: y,
                Equipments,
                Fee
            }).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.state = { success: true };
                    this.$snotify.success("Tạo thành công");
                    this.dialog.show = true;
                    this.reqId = data.data.id;
                } else {
                    this.state = { success: false };
                    this.$snotify.error("Tạo thất bại")
                }
            }).catch(error => {
                console.error(error);
                this.state = { success: false };
            });
        },
        getEquipment() {
            equipmentService.getAll().then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.tableItems = data.data;
                } else {
                    console.error(data.message);
                }
            }).catch(error => {
                console.error(error);
            });
        },
        proccesssEquipment() {
            const valid = this.validDimension().then();
            valid.then(() => {
                this.dimensionValid ? this.showEquipment = true : '';

                // Processing...
                // this.tableItems.find(e => e.id === 5).quantity = Number(1);
                // this.tableItems.find(e => e.id === 8).quantity = Number(1);
            });
            valid.catch(error => {
                console.error(error);   
            });
        },
        getAllSubscription() {
            subscriptionService.getAll().then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.subscriptions = data.data;
                    this.SubscriptionId = 1;
                } else {
                    console.error(data.message);
                    this.$snotify.error('Không thể lấy danh sách subscription');
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error('Không thể lấy danh sách subscription');
            });
        },
        dimensionInput() {
            if (this.showEquipment) {
                this.showEquipment = !this.showEquipment;
            }
        },
        equipmentInput(equipment) {
            // let { price, quantity } = equipment;
            // let total = price * quantity
            // this.tableItems.find(e => e.id === equipment.id).total = total;
            console.log(equipment.id);
            // this.showEquipment = false;
            // setImmediate(() => {
            //     if (!this.showEquipment) {
            //         this.showEquipment = true;
            //     }
            // }, 1);
        },
        getEquipmentIndex(equipment) {
            return this.tableItems.findIndex(e => e.id === equipment.id);
        },
        stepThree() {
            const valid = this.validInfo().then();
            valid.then(() => {
                if (this.infoValid) {
                    this.step = 3;
                }
            });
            valid.catch(error => {
                console.error(error);   
            });
        }
    },
    computed: {
        money() {
            let money = 0;

            for (let i = 0; i < this.tableItems.length; i++) {
                let data = this.tableItems[i];
                money += data.quantity * data.price;
                
            }
            
            if (this.subscriptions !== null)
                money += this.subscriptions.find(e => e.id === this.SubscriptionId).price;

            return money;
        }
    },
    watch: {
        tableItems: {
            handler() {
                if (this.tableItems.length > 0) {
                    this.tableItems.forEach(item => {
                        if (item.id === settings.EQUIPMENTS.PLOT || item.id === settings.EQUIPMENTS.SHELVING_PLASTIC) {
                            // do nothing
                        } else {
                            item.quantity = 1;
                        }
                        
                    });
                }
            }
        }
    },
    mounted() {
        this.getEquipment();
        this.getAllSubscription();
    }
}
</script>