<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h1 class="display-1">Đăng ký sử dụng hệ thống IVMI</h1>
            </v-col>
        </v-row>
    </v-container>
</template>