<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h1 class="display-2">Quản lý yêu cầu</h1>
            </v-col>
            <v-col cols="12">
                <v-card>
                    <v-data-table 
                        :headers="headers" 
                        :items="requests" 
                        :loading="state.loading" 
                        hide-default-footer disable-pagination
                    >
                        <template v-slot:item.type="{ item }">
                            <div>
                                <v-chip v-if="item.type === 1" color="info">{{ settings.REQUESTS_TYPE_TEXT.SET_UP }}</v-chip>
                                <v-chip v-else color="warning">{{ settings.REQUESTS_TYPE_TEXT.PURCHASE }}</v-chip>
                            </div>
                        </template>
                        <template v-slot:item.status="{ item }">
                            <div v-html="requestStatus(item.status)" />
                        </template>
                        <template v-slot:item.action="{ item }">
                            <div class="d-flex flex-row">
                                <v-btn
                                    small outlined color="primary"
                                    @click="showRequestDeail(item.id, true)"
                                >
                                    Xem chi tiết
                                </v-btn>
                            </div>
                        </template>
                    </v-data-table>
                    <pagination v-model="page" class="mt-3 pb-3" :length="10"></pagination>
                </v-card>
            </v-col>
        </v-row>
        <v-dialog v-model="dialog.show" :key="dialog.reqId" :max-width="settings.DIALOG_MAX_WIDTH_3" persistent scrollable>
            <RequestDetail :id="dialog.reqId" @close:dialog="showRequestDeail(null, !$event)" />
        </v-dialog>
    </v-container>
</template>

<script>
import { settings } from '../config';
import { requestService } from '../_services';
import { PageMixin } from "../mixins";

import RequestDetail from "../components/Request/RequestDetail";

export default {
    name: 'request',
    mixins: [ PageMixin ],
    components: { RequestDetail },
    data: () => ({
        requests: [],
        headers: [
            { text: 'Loại', value: 'type' },
            { text: 'Tên', value: 'name' },
            // { text: 'Địa chỉ', value: 'address' },
            { text: 'Email', value: 'email' },
            // { text: 'Số điện thoại', value: 'phone' },
            // { text: 'Tài khoản', value: 'username' },
            { text: 'Chi phí', value: 'fee' },
            // { text: 'Số tài khoản', value: 'cardNumber' },
            { text: 'Trạng thái', value: 'status' },
            { text: '', value: 'action', align: 'center' },
        ],
        dialog: {
            reqId: null,
            show: false
        },
        state: { loading: false },
    }),
    methods: {
        requestStatus(num) {
            let color = "";
            let result = settings.REQUESTS.PENDING;
            switch (num) {
                case 2:
                    result = settings.REQUESTS.CONFIRM;
                    color = "warning";
                    break;
                case 3:
                    result = settings.REQUESTS.DONE;
                    color = "success";
                    break;
                case 4:
                    result = settings.REQUESTS.REJECT;
                    color = "error";
                    break;
                case 5:
                    result = settings.REQUESTS.POST_PAY;
                    color = "green lighten-3";
                    break;
                case 6:
                    result = settings.REQUESTS.PAID_AND_PENDING;
                    color = "primary";
                    break;
                default:
                    break;
            }

            return `<span class="v-chip theme--light v-size--default ${color}"><span class="v-chip__content">${result}</span></span>`;
        },
        reqAction(status, reqId) {
            switch (status) {
                case 2:
                    this.updateStatus(reqId, 3)
                    break;
                default: // status = 1
                    this.updateStatus(reqId, 2);
                    break;
            }
        },
        getAllRequests(){
            this.requests = [];
            let { size, page } = this;

            // send request
            this.state = { loading: true };
            requestService.getAll(size, page).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.requests = data.data;
                    this.state = { success: true };
                } else {
                    this.state = { success: false };
                }
            }).catch(error => {
                console.error(error);
                this.state = { success: false };
            });
        },
        showRequestDeail(id, show = true) {
            this.dialog = {
                reqId: id,
                show: show
            }
        }
    },
    mounted() {
        this.getAllRequests()
    },
    watch: {
        page: {
            handler() {
                this.getAllRequests();
            }
        }
    }
}
</script>