<template>
    <v-container>
        <v-row class="justify-center flex-fill">
            <v-col cols="12" md="10" lg="6">
                <div v-if="show">
                    <RequestDetail :id="id" :detail="true" />
                </div>
                <v-sheet v-else color="grey lighten-5" elevation="1" rounded>
                    <div class="d-flex flex-column px-5 py-5">
                        <div class="display-3 mx-5 my-5">
                            Lỗi,
                        </div>
                        <div class="text-body">
                            Trang này không tìm thấy hoặc bạn không có quyên truy cập.
                        </div>
                    </div>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import RequestDetail from "@/components/Request/RequestDetail";

export default {
    name: 'request-page',
    components: { RequestDetail },
    data: () => ({
        show: false
    }),
    computed: {
        id() {
            return this.$route.query?.id;
        }
    },
    watch: {
        id: {
            immediate: true,
            handler() {
                if (this.id !== null && this.id !== undefined) {
                    this.show = true;
                }
            }
        }
    }
}
</script>