<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1 class="display-2">Quản lý người dùng</h1>
      </v-col>
      <v-col cols="12" lg="10" class="d-block d-md-flex align-center">
        <v-btn large outlined color="primary" @click="dialog.userForm = true">
          <v-icon left>person_add</v-icon>
          <span>Thêm tài khoản mới</span>
        </v-btn>
        <v-spacer></v-spacer>
        <v-form class="mt-3 mt-md-0 d-none">
          <v-text-field filled rounded clearable dense :hide-details="true" prepend-inner-icon="search" placeholder="Search user"/>
        </v-form>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-data-table 
            :headers="headers" 
            :items="allUser.users"
            hide-default-footer disable-pagination
            :loading="allUser.state.loading" >
          
            <template v-slot:item.action="{ item }">
              <v-btn depressed small :username="item.username" @click="showUser(item)">
                <span>Xem chi tiết</span>
              </v-btn>
            </template>

          </v-data-table>

          <v-alert v-if="allUser.state.success === false" text color="error" class="mx-3">
            {{ allUser.message }}
          </v-alert>

          <pagination v-model="page" class="mt-3 pb-3" length="3"></pagination>

        </v-card>
      </v-col>
    </v-row>
    
    <v-dialog v-model="dialog.userDetail" scrollable :key="user.username" :max-width="settings.DIALOG_MAX_WIDTH_2" persistent>
      <UserDetail @close:dialog="showUser({}, !$event)" :user="user"/>
    </v-dialog>

    <v-dialog v-model="dialog.userForm" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
      <UserForm @close:dialog="dialog.userForm = !$event"/>
    </v-dialog>
  </v-container>
</template>

<script>
import { PageMixin } from "../mixins";

import UserDetail from '../components/User/UserDetail';
import UserForm from '../components/User/UserForm';

export default {
  name: 'user-management',
  components: {
    UserDetail,
    UserForm
  },
  mixins: [PageMixin],
  methods: {
    getAllUser() {
      let { size, page } = this;
      this.$store.dispatch('userModule/getAllUser', { size, page });
    },
    showUser(user, show = true) {
      this.dialog.userDetail = show;
      this.user = user;
    }
  },  
  computed: {
    allUser() {
      return this.$store.state.userModule.allUser;
    }
  },
  data: () => ({
    headers: [
      {text: 'Tài khoản', align: 'start', value: 'username', sortable: true},
      {text: 'Tên người dùng', align: 'start', value: 'name', sortable: true},
      {text: 'Số điện thoại', align: 'start', value: 'phone', sortable: true},
      {text: '', value: 'action', align: 'end', sortable: false}
    ],
    dialog: {
      userDetail: false,
      userForm: false
    },
    user: {},
  }),
  mounted() {
    this.getAllUser();
  },
  watch: {
    page: {
      handler() {
        this.getAllUser();  
      }
    }
  }
}
</script>