<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h1 class="display-2">Quản lý rau</h1>
                <v-btn 
                    large outlined color="primary" class="mt-5" 
                    :loading="state.loading" :disabled="state.loading" 
                    @click="createNew(true)"
                >
                    <v-icon left>mdi-plus</v-icon>
                    Thêm mới
                </v-btn>
            </v-col>
            <v-col cols="12">
                <VegetableTable :key="vegetablesKey" />
            </v-col>
        </v-row>

        <div class="dialogs">
            <VegetableCreate
                :show="dialog.show"
                @close:dialog="createNew(!$event)"
                @created="createdSuccess($event)"
            />
        </div>

    </v-container>
</template>

<script>
import VegetableTable from "../components/Vegetable/VegetableTable";
import VegetableCreate from '../components/Vegetable/VegetableCreate';

export default {
    name: 'vegetable',
    components: {
        VegetableTable,
        VegetableCreate
    },
    data: () => ({
        state: { loading: false },
        dialog: {
            show: false
        },
        vegetablesKey: null
    }),
    methods: {
        createNew(show) {
            this.dialog.show = show
        },
        createdSuccess(data) {
            this.vegetablesKey = data.id;
        }
    }
}
</script>