<template>
    <v-dialog v-model="show" persistent :max-width="settings.DIALOG_MAX_WIDTH_SMALL">
        <v-card>
            <v-card-title>
                <div>
                    <span>Chậu số {{ pot.position }}</span>
                </div>
                <v-spacer/>
                <v-btn fab depressed small @click="closeDialog">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-card-title>
            <v-divider/>
            <v-card-text class="_mt-5">
                <div class="font-weight-bold d-none">
                    {{ coordinates }}
                </div>
            </v-card-text>
            
            <v-card-actions class="d-flex flex-column">
                <v-btn
                    color="primary"
                    class="flex-fill mb-1"
                    @click="updateCoordinates"
                    :loading="state.loading"
                    :disabled="state.loading"
                    block
                >
                    <span>Chọn tọa độ</span>
                </v-btn>
                <v-btn
                    color="warning"
                    class="flex-fill mt-1"
                    outlined
                    block
                    @click="viewCoordinates"
                    :loading="stateCoor.loading"
                    :disabled="stateCoor.loading"
                >
                    Xem hình ảnh
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { potService } from '../../_services';
import { settings } from '../../config';
export default {
    name: 'pot-dialog',
    props: {
        pot: {
            require: true
        },
        show: {
            type: Boolean,
            require: true
        }
    },
    data: () => ({
        coordinates: "",
        state: { loading: false },
        stateCoor: { loading: false }
    }),
    methods: {
        closeDialog() {
            this.$emit('close:dialog', true);
        },
        updateCoordinates() {
            let { id } = this.pot;
            this.state = { loading: true };
            potService.updateCoordinates(id).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.state = { success: true };
                    this.$snotify.success("Đã cập nhập tọa độ.");
                    this.getPotByPosition();
                } else {
                    this.state = { success: false };
                    this.$snotify.error("Không thể cập nhập tọa độ.");
                }
            }).catch((error) => {
                console.error(`${error.status}-${error.statusText}`);
                this.state = { success: false };
                this.$snotify.error("Không thể cập nhập tọa độ.");
            });
        },
        getPotByPosition() {
            let { username } = this.$attrs;
            let { position } = this.pot;
            this.state = { loading: true }
            potService.getPotByPosition(username, position).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.state = { success: true };
                    this.coordinates = data.data.coordinates;
                } else {
                    this.state = { success: false };
                    this.$snotify.error("Không thể lấy thông tin pot.");
                }
            }).catch(error => {
                console.error(`${error.status}-${error.statusText}`);
                this.state = { success: false };
                this.$snotify.error("Không thể lấy thông tin pot.");
            });
        },
        viewCoordinates() {
            this.stateCoor = { loading: true };
            let { id } = this.pot;
            potService.viewCoordinates(id).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    // this.$snotify.success('Done!');
                    this.stateCoor = { success: true };
                } else {
                    this.$snotify.error("Không thể lấy hình ảnh");
                    this.stateCoor = { success: false };
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error("Không thể lấy hình ảnh");
                this.stateCoor = { success: false };
            });
        }
    },
    mounted() {
        this.coordinates = this.pot.coordinates;
        // console.log(this.$attrs.username);
    }
}
</script>