<template>
    <v-dialog v-model="model" :max-width="settings.DIALOG_CONFIRM_MAX_WIDTH" persistent>
        <v-card>
            <v-date-picker no-title ref="datePicker" :min="min" width="100%" locale="vi" v-model="value" />
            <v-divider/>
            <v-card-actions>
                <v-spacer/>
                <v-btn depressed color="primary" @click="closeDialog">OK</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'date-picker',
    props: {
        model: {
            type: Boolean,
            required: true
        },
        date: {
            type: String,
            required: true
        },
        min: {
            type: String
        },
        max: {
            type: String
        }
    },
    methods: {
        closeDialog() {
            this.$emit('close:dialog', {date: this.value, show: false})
        }
    },
    data: () => ({
        value: ""
    }),
    mounted() {
        this.value = this.date;
    },
    watch: {
        date: {
            handler() {
                if (this.date != undefined && this.date != "") {
                    this.value = this.date;
                }
            }
        }
    }
}
</script>