<template>
    <v-card elevation="12">
        <v-card-title class="d-flex align-center">
            <div v-if="state.success && request != null">
                <v-chip class="mr-1" v-if="request.type === 1" color="info">{{ settings.REQUESTS_TYPE_TEXT.SET_UP }}</v-chip>
                <v-chip v-else color="warning">{{ settings.REQUESTS_TYPE_TEXT.PURCHASE }}</v-chip>
            </div>
            <div class="ml-1" v-if="state.success && request != null" v-html="requestStatus(request.status)" />
            <div class="headline ml-2">Yêu cầu</div>
            
            <v-spacer/>
            <v-btn v-if="!detail" fab text small @click="close">
                <v-icon>close</v-icon>
            </v-btn>
        </v-card-title>
        <v-divider/>
        <v-card-text v-if="state.success && request != null" class="mt-3">
            <div>
                <h4>Thông tin khách hàng</h4>
                <v-card elevation="0" color="green lighten-5">
                    <v-card-text>
                        <div>Tên: <strong>{{ request.name || 'N/A' }}</strong></div>
                        <div>Email: <strong>{{ request.email || 'N/A' }}</strong></div>
                        <div>Địa chỉ: <strong>{{ request.address || 'N/A' }}</strong></div>
                        <div>Số điện thoại: <strong>{{ request.phone || 'N/A' }}</strong></div>
                        <div v-if="request.username">Tên tài khoản: <strong>{{ request.username }}</strong></div>
                    </v-card-text>
                </v-card>
                <v-list>
                    <div class="d-flex">
                        <v-list-item v-if="request.fee">
                            <v-list-item-content>
                                <v-list-item-title>{{ currencyFormater(request.fee) }}</v-list-item-title>
                                <v-list-item-subtitle>Chi phí mô hình</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item v-if="request.subscription">
                            <v-list-item-content>
                                <v-list-item-title>{{ currencyFormater(request.subscription) }}</v-list-item-title>
                                <v-list-item-subtitle>Subscription</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </div>
                    <v-list-item v-if="request.cardNumber">
                        <v-list-item-content>
                            <v-list-item-title>{{ request.cardNumber }}</v-list-item-title>
                            <v-list-item-subtitle>Số tài khoản</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-if="request.type === settings.REQUESTS_TYPE.SET_UP">
                        <v-list-item-content>
                            <v-list-item-title>{{ request.width }} x {{ request.height }}</v-list-item-title>
                            <v-list-item-subtitle>Diện tích (mét)</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>

                <div v-if="request.type === settings.REQUESTS_TYPE.PURCHASE && !detail">
                    <v-btn 
                        large outlined block color="warning" 
                        :disabled="request.status !== settings.REQUESTS_STATUS_NUM.CONFIRM || dialog.contractUpdate.updated"
                        @click="showContract(true)"
                    >
                        <span v-if="dialog.contractUpdate.updated">Đã gia hạn cho {{ request.username }}</span>
                        <span v-else>Gia hạn hợp đồng cho {{ request.username }}</span>
                    </v-btn>
                </div>
                <div v-else class="d-flex">
                    <v-btn 
                        v-if="!detail"
                        large outlined color="warning" class="flex-fill mr-1"
                        :disabled="request.status !== settings.REQUESTS_STATUS_NUM.CONFIRM || dialog.newUser.data !== null"
                        @click="dialog.newUser.show = true"
                    >
                        Tạo tài khoản mới
                    </v-btn>
                    <v-btn 
                        v-if="!detail"
                        large outlined color="info"
                        class="flex-fill ml-1 d-none"
                        :disabled="request.status !== settings.REQUESTS_STATUS_NUM.CONFIRM || dialog.newUser.data === null || dialog.newContract.data !== null"
                        @click="dialog.newContract.show = true"
                    >
                        Tạo hợp đồng mới
                    </v-btn>
                </div>

                <v-divider class="mt-2" v-if="request.equipments.length > 0"/>
                <v-data-table v-if="request.equipments.length > 0" :items="request.equipments" :headers="headers" hide-default-footer>
                    <template v-slot:item.total="{ item }">
                        <div>
                            {{ currencyFormater(item.quantity * item.price) }}
                        </div>
                    </template>
                </v-data-table>
            </div>
        </v-card-text>
        <v-card-text v-if="state.loading">
            <v-skeleton-loader
                width="100%"
                type="card"
            ></v-skeleton-loader>
        </v-card-text>
        <v-divider/>
        <v-card-actions class="d-flex" v-if="state.success && request != null && !detail">
            <v-btn
                class="flex-fill" color="primary"
                :disabled="request.status === settings.REQUESTS_STATUS_NUM.DONE || request.status === settings.REQUESTS_STATUS_NUM.REJECT"
                @click="updateStatus(request.id, request.status !== settings.REQUESTS_STATUS_NUM.CONFIRM ? settings.REQUESTS_STATUS_NUM.CONFIRM : settings.REQUESTS_STATUS_NUM.DONE)"
            >
                <span v-if="request.status !== settings.REQUESTS_STATUS_NUM.CONFIRM">{{ settings.REQUESTS.CONFIRM }}</span>
                <span v-if="request.status === settings.REQUESTS_STATUS_NUM.CONFIRM">{{ settings.REQUESTS.DONE }}</span>
            </v-btn>
            <v-btn
                class="flex-fill" color="error" outlined
                v-if="request.type !== settings.REQUESTS_TYPE.PURCHASE"
                :disabled="request.status === settings.REQUESTS_STATUS_NUM.DONE || request.status === settings.REQUESTS_STATUS_NUM.REJECT || dialog.newUser.data !== null || dialog.newContract.data !== null"
                @click="updateStatus(request.id, settings.REQUESTS_STATUS_NUM.REJECT)"
            >Hủy</v-btn>
        </v-card-actions>

        <div v-if="!detail" class="dialogs">
            <v-dialog v-if="dialog.newUser.data === null" v-model="dialog.newUser.show" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
                <UserForm 
                    @close:dialog="dialog.newUser.show = !$event"
                    @create:success="newUserSuccess($event)"
                />
            </v-dialog>
            <v-dialog v-if="dialog.newUser.data !== null" v-model="dialog.newContract.show" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
                <ContractCreate 
                    :username="dialog.newUser.data.username"
                    @close:dialog="dialog.newContract.show = !$event"
                    @create:success="dialog.newContract = {show: false, data: $event}"
                />
            </v-dialog>
            <v-dialog v-if="dialog.contract.id !== null" :key="dialog.contract.id" v-model="dialog.contract.show" :max-width="settings.DIALOG_MAX_WIDTH" persistent>
                <ContractDetail
                    :id="dialog.contract.id"
                    :key="dialog.contract.id" 
                    @close:dialog="dialog.contract.show = !$event"
                    @open:editDialog="openEditDialog($event)"
                />
            </v-dialog>
            <v-dialog v-if="dialog.contractUpdate.data !== null" v-model="dialog.contractUpdate.show" :max-width="settings.DIALOG_CONTRACT_MAX_WIDTH" persistent>
                <ContractUpdateForm 
                    :data="dialog.contractUpdate.data" 
                    @close:dialog="dialog.contractUpdate.show = !$event"
                    @update:success="showContract(false);openEditDialog({show: false, data: null})"
                />
            </v-dialog>
            <v-dialog v-if="dialog.user.data !== null" v-model="dialog.user.show" scrollable :max-width="settings.DIALOG_MAX_WIDTH_2" persistent>
                <UserDetail @close:dialog="dialog.user = {show: false, data: null}" :user="dialog.user.data"/>
            </v-dialog>
        </div>
    </v-card>
</template>

<script>
import { requestService, userService } from '../../_services';
import { settings } from '../../config';
import UserForm from '@/components/User/UserForm';
import ContractCreate from '@/components/Contract/ContractCreate';
import ContractDetail from '@/components/Contract/ContractDetail';
import ContractUpdateForm from '@/components/Contract/ContractUpdateForm';
import UserDetail from '@/components/User/UserDetail';

export default {
    name: 'request-detail',
    props: {
        id: {
            required: true
        },
        detail: {
            type: Boolean
        }
    },
    components: { UserForm, ContractCreate, ContractDetail, ContractUpdateForm, UserDetail },
    data: () => ({
        request: null,
        headers: [
            { text: 'Tên', value: 'name' },
            { text: 'Giá', value: 'price' },
            { text: 'Số lượng', value: 'quantity' },
            { text: 'Thành tiền', value: 'total' },
        ],
        state: { loading: false },
        dialog: {
            newUser: {
                show: false,
                data: null
            },
            newContract: {
                show: false,
                data: null
            },
            contract: {
                show: false,
                id: null
            },
            contractUpdate: {
                show: false,
                contract: null,
                updated: false
            },
            user: {
                show: false,
                data: null
            }
        }
    }),
    methods: {
        close() {
            this.$emit('close:dialog', true);
        },
        getById() {
            let { id } = this;

            // send req
            this.state = { loading: true };
            requestService.getById(id).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.request = data.data
                    this.state = { success: true };
                } else {
                    console.error(data.message);
                    this.state = { success: false };
                }
            }).catch(error => {
                console.error(error);
                this.state = { success: false };
            });
        },
        requestStatus(num) {
            let color = "";
            let result = settings.REQUESTS.PENDING;
            switch (num) {
                case 2:
                    result = settings.REQUESTS.CONFIRM;
                    color = "warning";
                    break;
                case 3:
                    result = settings.REQUESTS.DONE;
                    color = "success";
                    break;
                case 4:
                    result = settings.REQUESTS.REJECT;
                    color = "error";
                    break;
                case 5:
                    result = settings.REQUESTS.POST_PAY;
                    color = "green lighten-3";
                    break;
                case 6:
                    result = settings.REQUESTS.PAID_AND_PENDING;
                    color = "primary";
                    break;
                default:
                    break;
            }

            return `<span class="v-chip theme--light v-size--default ${color}"><span class="v-chip__content">${result}</span></span>`;
        },
        updateStatus(reqId, status) {
            requestService.updateStatus(reqId, status).then(success => {
                let data = success.body;
                if (data.status === settings.SUCCESS) {
                    this.$snotify.success("Cập nhập thành công");
                    this.getById();
                } else {
                    this.$snotify.error("Không thể cập nhập");
                }
            }).catch(error => {
                console.error(error);
                this.$snotify.error("Không thể cập nhập");
            });
        },
        showContract(show) {
            this.dialog.contract.show = show;
            // this.dialog.contract.id = 4;
            if (show) {
                if (this.request !== null) {
                    userService.getContractByUsername(this.request.username).then((success) => {
                        let data = success.body;
                        if (data.status === settings.SUCCESS) {
                            this.dialog.contract.id = data.data.id;
                        }
                    }).catch((err) => {
                        console.error(err);
                    });
                }
            } else {
                this.dialog.contract.id = null;
            }
        },
        openEditDialog(obj) {
            console.log(obj);
            this.dialog.contractUpdate = {
                show: obj.show,
                data: obj.data
            }
            // this.dialog.contract.id = 2;
            // this.showContract(true);
        },
        newUserSuccess(data) {
            this.$snotify.success(`Tạo tài khoản mới thành công.`);
            this.dialog.newUser = { show: false, data: data };
            this.dialog.user = { show: true, data: data };
        }
    },
    mounted() {
        this.getById();
    }
}
</script>