<template>
  <v-app>
    <NavDrawer v-if="showNavDrawer" :nav="showNavDrawer"/>
    <v-main>
      <vue-snotify></vue-snotify>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import NavDrawer from '@/components/layouts/NavDrawer'

export default {
  name: 'App',
  components: {
    NavDrawer
  },
  computed: {
    showNavDrawer() {
      const path = this.$route.path;
      let page = ['/login', '/register', '/register-contract', '/purchase', '/request-page'];
      if (path.includes('/purchase/')) return false;
      return !page.includes(path);
    }
  },
  data: () => ({
    //
  }),
  mounted() {

  }
};
</script>
